<ion-header no-border>
    <ion-toolbar color="whiteg">
      <ion-buttons slot="start" class="iconHead">
        <ion-menu-button auto-hide="false" (click)="showHideMenu()"></ion-menu-button>
      </ion-buttons>    
      <ion-title class="titleHead">
        Ingrese su pin           
      </ion-title> 
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="stylesContent">
    <div text-center large margin-vertical>
      <ion-icon [name]="pin.length>0 ? 'radio-button-on' : 'radio-button-off'"></ion-icon>
      <ion-icon [name]="pin.length>1 ? 'radio-button-on' : 'radio-button-off'"></ion-icon>
      <ion-icon [name]="pin.length>2 ? 'radio-button-on' : 'radio-button-off'"></ion-icon>
      <ion-icon [name]="pin.length>3 ? 'radio-button-on' : 'radio-button-off'"></ion-icon> 
    </div>
  
    <div style="width: 260px;margin: 0px auto;">
      <ion-grid text-center>
        <ion-row>
          <ion-col>
            <ion-button class="gradient-btn round number" large outline (click)="handleInput('1')">1</ion-button>
          </ion-col>
          <ion-col>
            <ion-button class="gradient-btn round number" large outline (click)="handleInput('2')">2</ion-button>
          </ion-col>
          <ion-col>
            <ion-button class="gradient-btn round number" large outline (click)="handleInput('3')">3</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button class="gradient-btn round number" large outline (click)="handleInput('4')">4</ion-button>
          </ion-col>
          <ion-col>
            <ion-button class="gradient-btn round number" large outline (click)="handleInput('5')">5</ion-button>
          </ion-col>
          <ion-col>
            <ion-button class="gradient-btn round number" large outline (click)="handleInput('6')">6</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button class="gradient-btn round number" large outline (click)="handleInput('7')">7</ion-button>
          </ion-col>
          <ion-col>
            <ion-button class="gradient-btn round number" large outline (click)="handleInput('8')">8</ion-button>
          </ion-col>
          <ion-col>
            <ion-button class="gradient-btn round number" large outline (click)="handleInput('9')">9</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
  
          </ion-col>
          <ion-col>
            <ion-button class="gradient-btn round number" large outline (click)="handleInput('0')">0</ion-button>
          </ion-col>
          <ion-col>
  
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button class="gradient-btn round" large (click)="handleInput('clear')" color="danger">Borrar</ion-button>
          </ion-col>
          <ion-col>
  
          </ion-col>
          <ion-col>
            <ion-button class="gradient-btn round" large (click)="emitEvent()" color="success">Ingresar</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-content>