ion-grid, ion-row, ion-col {
    padding:0px;
}

ion-card{
    padding:0px;
}

.inputSearchTables{
    margin-top: 8px;
}

.sc-ion-card-md-h{
    margin-left: unset;
    margin-right: unset;
    margin-bottom: 0px;
    -webkit-margin-start: 5px;
    margin-inline-start: 5px;
    -webkit-margin-end: 5px;
    margin-inline-end: 5px;
}

.headerCard{
    cursor: pointer;
}

.contentCard{
    cursor: pointer;
    text-transform: capitalize;
    margin-top: -8px;
}

.titleCardTable{
    font-weight: bold;
    text-transform: uppercase;
    margin-top: -5px;
}

.titleCardGray{
    color: #404c59 !important;
}

.subTotalCard{
    float: left;
    font-weight: bold;
    font-size:1.1em;
}

.totalCard{
    float: right;
    font-weight: bold;
    font-size:1.1em;
}

.subTotalCardList{
    float: left;
    font-weight: bold;
    font-size:1.1em;
}

.totalCardList{
    float: right;
    font-weight: bold;
    font-size:1.1em;
}

.subTitleCardTable{
    font-weight: bold;
    text-transform: capitalize;   
    font-size: 1.2em; 
    padding-bottom: 10px;
    margin-top: 2px;
    color: #DCDCDC !important;
    border-bottom: 1px solid #7F6DF5;
}

.openTableText{
    font-weight: bold;
    font-size: 1.3em;
    background-color: #C0C0C0;
    color: transparent;
    text-transform: uppercase;
    text-shadow: 1px 2px 2px rgba(255,255,255,0.5);
    -webkit-background-clip: text;
    cursor: pointer;
}

#titleFilterTables{
    padding: 10px;
    font-weight: bold;
    color: #404C59;
    float: left;
    margin-top: 15px;
    margin-left: 9px;    
}

.sc-ion-segment-ios-h.ion-color.sc-ion-segment-ios-s {
    border-radius: 10px;
}

.showUsersOnline{
    transition: all 0.30s !important;
}

.cardUsersOnlineHide{
    border-radius: 50px !important;
    width: 52px !important;
    position: fixed !important;
    z-index: 1000 !important;
}

.hideUsersOnline{
    transition: all 0.20s !important;
    width: 50px;
    height: 50px;
    margin-top:35px;

    ion-button{
        margin-top: -16px;
        margin-left: 1px;
    }

    .segementUserOnline{
        width: auto !important;
        margin: 0px !important;
    }
    
    .segementUserOnline::-webkit-scrollbar {
        height: 0px !important;
        display: none;
    }
    
    .segementUserOnline::-webkit-scrollbar-track {
        border-radius: 0px;
    }
    
    .segementUserOnline::-webkit-scrollbar-thumb {
        border-radius: 0px;
    }
}

.segment-button-checked{
    #imgUserOnline{
        // border:2px solid rgba(43,43,227,1);
    }
}

.borderImgSegmentUser{
    border:2px solid rgba(43,43,227,1);
}

.segementUserOnline{
    width: auto !important;
    margin: 5px !important;
    // width: 195px;
    // border-radius: 15px;
}

.segmentUserOnlineBtn{
    max-width: 185px;
}

.segementUserOnline::-webkit-scrollbar {
    height: 4px !important;
    display: block;
}

.segementUserOnline::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    border-radius: 5px;
}

.segementUserOnline::-webkit-scrollbar-thumb {
    border-radius: 5px;
    // -webkit-box-shadow: inset 0 0 3px #FF5023;
    // box-shadow: inset 0 0 3px #FF5023;
    background-color: #3A34E8;
}

ion-segment.button-native{
    width: 10px;
}

#imgUserOnline{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    float: left;
    padding: 1px;
}

#nameUserOnline{
    color: #4B5050;
    font-size: 1.0em;
    font-weight: bold;
    text-align: left;
    padding-left: 45px;
    text-transform: capitalize;
}

#tableUserOnline{
    color: #ACAAAB;
    font-size: 0.9em;
    text-align: left;
    padding-left: 45px;
    margin-top: -5px;
    text-transform: initial;
}

.segment{
    width: 300px;
    margin:15px;
}

.segementBtn{
    border: 0px;
    border-radius: 50px;
    height: 25px;
    margin-top: 7px;    
    box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.2), 0 1px 0px 0 rgba(0, 0, 0, 0.30);
}

.btnSegmentLabel{
    // padding-top:15px;
    // color: #ffffff;
    font-weight: bold;
    text-transform: capitalize;
}

.boxTable{
    // cursor: pointer;
    height: 175px;
    border-radius: 15px;
}

.boxUsersOnLine{
    border-radius: 15px;
    box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.2), 0 1px 0px 0 rgba(0, 0, 0, 0.30);
}

.gridUsersOnline{
    width: 100%;
    position: fixed;
    left: -21px;
    height: 54px;
    z-index: 1000;
    padding-left: 37px;
    bottom: 58px;
}

.cardUsersOnline{
    border-radius: 50px;
    width: 95.3%;
    position: fixed;
    z-index: 1000;
    // left: -27px;
    // bottom: 42px;
}

.boxTableList{
    // cursor: pointer;
    border-radius: 15px;
}

#boxFab{
    margin-top:10px;
}

#subTextFabChangeWaiter{
    position: absolute;
    text-align: center;
    margin-top: 35px;
    margin-left: 1px;
    background-color: #FFF;
    border-radius: 5px;
    padding: 1px;
    color: #322FE5;
    box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.2), 0 1px 0px 0 rgba(0, 0, 0, 0.30);
}

#subTextFabChangeTable{
    position: absolute;
    text-align: center;
    margin-top: 35px;
    margin-left: -5px;
    background-color: #FFF;
    border-radius: 5px;
    padding: 1px;
    color: #322FE5;
    box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.2), 0 1px 0px 0 rgba(0, 0, 0, 0.30);   
}

#subTextFabCash{
    position: absolute;
    text-align: center;
    margin-top: 12px;
    margin-left: 0px;
    background-color: #FFF;
    border-radius: 5px;
    padding: 2px;
    color: #322FE5;
    box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.2), 0 1px 0px 0 rgba(0, 0, 0, 0.30);
}

#subTextFabChangeWaiterList{
    position: absolute;
    text-align: center;
    margin-top: 36px;
    width: 50px;
    background-color: #FFF;
    border-radius: 5px;
    padding: 1px;
    color: #322FE5;
    box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.2), 0 1px 0px 0 rgba(0, 0, 0, 0.30);   
}

#subTextFabChangeTableList{
    position: absolute;
    text-align: center;
    margin-top: 36px;
    margin-left: -99px;
    width: 50px;
    background-color: #FFF;
    border-radius: 5px;
    padding: 1px;
    color: #322FE5;
    box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.2), 0 1px 0px 0 rgba(0, 0, 0, 0.30);   
}

#subTextFabCashList{
    position: absolute;
    text-align: center;
    margin-top: 31px;
    margin-left: -56px;
    background-color: #FFF;
    border-radius: 5px;
    padding: 2px;
    color: #322FE5;
    box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.2), 0 1px 0px 0 rgba(0, 0, 0, 0.30); 
}

.subTextFabIcon{
    color: black;    
    font-weight: 600;
    font-size: 0.7em;
}

#container ul {
    list-style: none;
}

#container .buttons {
    margin-bottom: 20px;
}

#container .list li {
    width: 100%;
    border-bottom: 1px dotted #CCC;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

#container .grid li {
    float: left;
    width: 20%;
    height: 50px;
    border-right: 1px dotted #CCC;
    border-bottom: 1px dotted #CCC;
    padding: 20px;
}

.boxNoWaiterConnected{
    // width: 100%;
    margin: 5px 0px 0px 0px !important;
    border-radius: 10px;
    font-weight: bold;
    --color: #404C59;

    .textErrorItemsDetail{
        margin: 0px auto;
        // width: 300px;
    }

    img{
        width: 22px;
        display: initial;
        // position: absolute;
        // margin-top: -4px;
        // margin-left: 35px;
    }
}

@media (max-width: 1366px) and (min-width: 900px) {
    .gridUsersOnline{
        // left: -10px;
        padding-left: 20px;
    }

    .cardUsersOnline{
        width: 95.3%;
    }    
}

@media (max-width: 960px) {
    .cardUsersOnline{
        width: 96.8% !important;
    }    
}

@media (max-width: 1024px) and (min-width: 360px) {
    .gridUsersOnline{
        // left: -10px;
        padding-left: 20px;
    }
}

@media (max-width: 800px) and (min-width: 500px) {
    .cardUsersOnline{
        width: 95% !important;
    }    
}

@media (max-width: 550px) and (min-width: 360px) {
    .inputSearchTables{
        width: 190px;
    }       

    .cardUsersOnline{
        width: 93% !important;
    }      
}

@media (max-width: 375px) and (min-width: 360px) {
    .openTableText{
        font-size:1.1em;
    }

    .subTitleCardTable{
        font-size:1.1em;
    }

    .subTotalCard{
        font-size:0.9em;
    }

    .totalCard{
        font-size:0.9em;
    }

    .cardUsersOnline{
        width: 92% !important;
    }        
}

@media (max-width: 320px) {
    .detailSubTotalCard{
        display: none;
    }

    .inputSearchTables{
        width: 165px;
    }

    .gridUsersOnline{
        // left: -8px;
        padding-left: 18px;
    }    

    .cardUsersOnline{
        width: 90.2% !important;
    }     
}  
