<ion-header no-border>
  <ion-toolbar color="whiteg">
    <ion-buttons slot="start" class="iconHead">
      <ion-menu-button auto-hide="false" (click)="showHideMenu()"></ion-menu-button>
    </ion-buttons>    
    <ion-title class="titleHead">
      Mesas           
    </ion-title>
    <ion-buttons slot="end">
      <ion-searchbar class="inputSearchTables" type="text" placeholder="BUSCAR MESA" (ionInput)="getItems($event)"></ion-searchbar>
    </ion-buttons>    
    <ion-buttons slot="end" class="iconHead">
      <ion-button auto-hide="false" (click)="showHideMenuTables()">
        <ion-icon slot="icon-only" name="restaurant"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="stylesContent">
  <span id="titleFilterTables">
    Listado de mesas
  </span>

  <ion-segment class="segment" (ionChange)="segmentChanged($event)">
    <ion-segment-button class="segementBtn" mode="ios" [ngClass]="(checkedGrid) ? 'gradient' : 'no-gradient'" value="grid" checked (click)="getInfoWaiter(0)">
      <ion-label class="btnSegmentLabel">
        <!-- <ion-icon slot="start" name="md-grid"></ion-icon> -->
        Grilla
      </ion-label>
    </ion-segment-button>
    <ion-segment-button style="margin-left:10px" class="segementBtn" mode="ios" [ngClass]="(checkedList) ? 'gradient' : 'no-gradient'" value="list" (click)="getInfoWaiter(1)">
      <ion-label class="btnSegmentLabel">
        <!-- <ion-icon slot="start" name="md-menu"></ion-icon> -->
        Listado
      </ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="statusError === false; else error" style="margin-top:-6px;padding:0px 10px 95px 10px;">
    <div *ngIf="statusSearchError === false; else errorSearch">
      <div [ngSwitch]="tabTableSelected">
        <div *ngSwitchCase="'grid'">
          <ion-grid>
            <ion-row>
              <ion-col size-lg="3" size-md="4" size-sm="6" size="6" *ngFor="let table of tableSearch">
                <ion-card [ngClass]="['boxTable', table.nombreColor]" color="dark"> 
                  <ion-card-header class="headerCard" text-center (click)="viewDetailOrder(table);">
                    <ion-card-title [ngClass]="(table.idEstadoMesa == 2) ? ['titleCardTable'] : ['titleCardTable', 'titleCardGray']">
                      {{table.descripcion}}
                    </ion-card-title>
                    <ion-card-subtitle *ngIf="table.idEstadoMesa == 2" class="subTitleCardTable">
                      {{table.pedidos[0].nombre}}
                    </ion-card-subtitle>                  
                  </ion-card-header>
                
                  <ion-card-content class="contentCard" text-center (click)="viewDetailOrder(table);">
                    <div class="openTableText" style="height: 120px;" *ngIf="table.idEstadoMesa == 1">
                      Abrir mesa
                    </div>                   
                    
                    <div class="detailSubTotalCard" *ngIf="table.idEstadoMesa == 2">
                      <span class="subTotalCard">
                        Subtotal
                      </span> 
                      <span class="totalCard">
                        ${{table.pedidos[0].totalDetalle ? table.pedidos[0].totalDetalle : 0}}
                      </span>
                    </div>
                  </ion-card-content>             

                  <ion-fab *ngIf="table.idEstadoMesa == 2" id="boxFab" vertical="center" horizontal="center" slot="fixed">
                    <ion-fab-button [ngClass]="table.nombreColorBtn" size="small">
                      <ion-icon name="add"></ion-icon>
                    </ion-fab-button>
                    <ion-fab-list side="start">
                      <ion-fab-button [ngClass]="table.nombreColorBtn" size="small">
                        <ion-icon name="people"></ion-icon>
                      </ion-fab-button>
                      <div id="subTextFabChangeWaiter" class="subTextFabIcon">
                        CAMBIAR MOZO
                      </div>                    
                    </ion-fab-list>
                    <ion-fab-list side="top">
                      <ion-fab-button [ngClass]="table.nombreColorBtn" size="small">
                        <ion-icon name="cash"></ion-icon>
                      </ion-fab-button>
                      <div id="subTextFabCash" class="subTextFabIcon">
                        PAGAR
                      </div>                    
                    </ion-fab-list>
                    <ion-fab-list side="end" (click)="loadTablesAvailables(table)">
                      <ion-fab-button [ngClass]="table.nombreColorBtn" size="small">
                        <ion-icon name="repeat"></ion-icon>
                      </ion-fab-button>
                      <div id="subTextFabChangeTable" class="subTextFabIcon">
                        CAMBIAR MESA
                      </div>
                    </ion-fab-list>
                  </ion-fab>              
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>

      <div [ngSwitch]="tabTableSelected">
        <div *ngSwitchCase="'list'">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-card [ngClass]="['boxTableList', table.nombreColor]" color="dark" *ngFor="let table of tableSearch">
                  <ion-card-header style="cursor: pointer;text-transform: uppercase;" (click)="viewDetailOrder(table);">
                    <ion-card-title [ngClass]="(table.idEstadoMesa == 2) ? ['titleCardTable'] : ['titleCardTable', 'titleCardGray']">
                      {{table.descripcion}}
                    </ion-card-title>
                    <ion-card-subtitle *ngIf="table.idEstadoMesa == 2" class="subTitleCardTable">
                      {{table.pedidos[0].nombre}}
                    </ion-card-subtitle>                     
                  </ion-card-header>
                
                  <ion-card-content class="contentCard" (click)="viewDetailOrder(table);">
                    <div class="openTableText" *ngIf="table.idEstadoMesa == 1">
                      Abrir mesa
                    </div>                   
                    
                    <div *ngIf="table.idEstadoMesa == 2">
                      <span class="subTotalCardList" style="padding-bottom: 10px;">
                        Subtotal
                      </span> 
                      <span class="totalCardList">
                        ${{table.pedidos[0].totalDetalle ? table.pedidos[0].totalDetalle : 0}}
                      </span>
                    </div>
                  </ion-card-content>  

                  <ion-fab *ngIf="table.idEstadoMesa == 2" vertical="center" horizontal="end" slot="fixed" style="margin-top: -47px">
                    <ion-fab-button [ngClass]="table.nombreColorBtn" size="small">
                      <ion-icon name="add"></ion-icon>
                    </ion-fab-button>
                    <ion-fab-list side="start">
                      <ion-fab-button [ngClass]="table.nombreColorBtn" size="small">
                        <ion-icon name="people"></ion-icon>
                      </ion-fab-button>
                      <div id="subTextFabChangeWaiterList" class="subTextFabIcon">
                        CAMBIAR MOZO
                      </div>                   
                      <ion-fab-button [ngClass]="table.nombreColorBtn" size="small">
                        <ion-icon name="cash"></ion-icon>
                      </ion-fab-button>
                      <div id="subTextFabCashList" class="subTextFabIcon">
                        PAGAR
                      </div>                    
                      <ion-fab-button [ngClass]="table.nombreColorBtn" size="small" (click)="loadTablesAvailables(table)">
                        <ion-icon name="repeat"></ion-icon>
                      </ion-fab-button>
                      <div id="subTextFabChangeTableList" class="subTextFabIcon">
                        CAMBIAR MESA
                      </div>
                    </ion-fab-list>
                  </ion-fab>                    
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>  

      <ion-grid class="gridUsersOnline">
        <ion-row>
          <ion-col size-lg="12" size-md="12" size-sm="12" size="12">
            <ion-card [ngClass]="(statusUsersOnline) ? 'hideUsersOnline boxUsersOnLine no-gradient cardUsersOnlineHide' : 'showUsersOnline boxUsersOnLine no-gradient cardUsersOnline'"  mode="ios" color="white" scrollable> 
              <ion-segment class="segment segementUserOnline" mode="ios" color="white" scrollable>
                <ion-buttons slot="end" style="color:#3A34E8;">
                  <ion-button auto-hide="false" (click)="showHideUsersOnline()">
                    <ion-icon slot="icon-only" name="people"></ion-icon>
                  </ion-button>
                </ion-buttons> 

                <ng-container *ngIf="usersOnline?.length > 0; else noUsersOnline">
                  <ion-segment-button value="" class="segmentUserOnlineBtn" *ngFor="let data of usersOnline" (click)="showPop($event,data,data.tablesUser)">
                    <ion-label class="btnSegmentLabel">
                      <img id="imgUserOnline"  [ngClass]="(data.idUserWaiter == idUserWaiter) ? ['borderImgSegmentUser'] : ''" src="https://designificado.com/wp-content/uploads/2019/08/paisaje-natural-992x661.jpg">
                      <div id="nameUserOnline">
                        {{data.nameWaiter}}
                      </div>
                      <div id="tableUserOnline">
                        {{data.tablesOpen}}
                        <span *ngIf="data.tablesOpen == 1; else textCantTables">
                          Mesa abierta
                        </span>
                        <ng-template #textCantTables>
                          Mesas abiertas
                        </ng-template> 
                      </div>
                    </ion-label>
                  </ion-segment-button>
                </ng-container>

                <ng-template #noUsersOnline> 
                  <ion-grid style="padding:0px;">
                    <ion-row style="margin-top:7px;">
                      <ion-col size="12" [ngClass]="['boxNoWaiterConnected', 'no-gradient']"> 
                        <div class="textErrorItemsDetail">
                          <img src="assets/icons_bar/041-no-waiter.png">
                          <span style="position: relative; top: -5px; padding-left: 3px;">
                            No hay mozos conectados
                          </span>
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ng-template>                   
              </ion-segment>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>    
    </div>
  </div>

  <ng-template #error>
    <ion-grid>
      <ion-row justify-content-center align-items-center style="font-size: 1.4em;font-weight: 500;padding: 5px;text-align: center;">
        <div id="divImgError">
          <img src="assets/icons_bar/035-cancel.png" id="imgError">
        </div>
      </ion-row>
    </ion-grid>
    
    <ion-grid>
      <ion-row justify-content-center align-items-center id="textError">
          <ion-text>
            {{msgError}}
          </ion-text>
      </ion-row>
    </ion-grid> 
  </ng-template>  

  <ng-template #errorSearch>
    <ion-grid>
      <ion-row justify-content-center align-items-center style="font-size: 1.4em;font-weight: 500;padding: 5px;text-align: center;">
        <div id="divImgError">
          <img src="assets/icons_bar/028-search-fail.png" id="imgError">
        </div>
      </ion-row>
    </ion-grid>
    
    <ion-grid>
      <ion-row justify-content-center align-items-center id="textError">
          <ion-text>
            No se encontraron mesas para la búsqueda realizada.
          </ion-text>
      </ion-row>
    </ion-grid>   
  </ng-template>    
</ion-content>
