<ion-header no-border>
  <ion-toolbar color="whiteg">
    <ion-buttons slot="start" class="iconHead">
      <ion-menu-button auto-hide="false" (click)="showHideMenu()"></ion-menu-button>
    </ion-buttons>
    <ion-title class="titleHead">
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="stylesContent">
 
</ion-content>