<ng-container *ngIf="statusError; else emptyOrdersList">
  <ion-list id="listStyle" style="padding-bottom: 0px !important;">
    <ion-item style="border-radius: 5px;">
      <ion-label>
        <ion-searchbar class="inputSearchOrdersList" type="text" placeholder="BUSCAR PEDIDO"
          (ionInput)="getItemsOrders($event)" #searchOrderList>
        </ion-searchbar>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="statusErrorSearch;" class="itemsListOrder itemTitleOrder">
      <ion-label>
        Seleccionar todos
      </ion-label>
      <ion-checkbox class="ordersTitleList" mode="ios" slot="start" [(ngModel)]="masterCheck"
        [indeterminate]="isIndeterminate" (click)="checkMaster($event)"></ion-checkbox>
    </ion-item>
  </ion-list>

  <ng-container *ngIf="statusErrorSearch; else emptyOrdersList">
    <ion-list id="listStyle">
      <ion-item class="itemsListOrder itemOrder{{item.idDetallePedido}}" style="margin-top: 3px;border-radius: 5px;"
        *ngFor="let item of ordersCourierSearch">
        <ion-label>
          #{{item.nroPedido | number:'3.0'}}
          <span *ngIf="item.direccion">
            -
            {{item.direccion}}
          </span>
        </ion-label>
        <ion-checkbox [disabled]="item.isDisabled"  class="ordersList" mode="ios" slot="start" [(ngModel)]="item.isChecked"
          (ionChange)="checkEvent(item)"></ion-checkbox>
      </ion-item>

      <ion-grid style="padding:0px;">
        <ion-row>       
          <ion-col size="12" class="ion-text-center">
            <ion-button id="btnSetOrder" class="gradient-btn" (click)="setOrderCourier()">
              <ion-icon slot="start" name="checkmark"></ion-icon>
              Asignar
            </ion-button>          
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </ng-container>
</ng-container>

<ng-template #emptyOrdersList>
  <ion-list>
    <ion-grid style="padding:0px;">
      <ion-row style="margin-left: 16px;">
        <ion-col size="12" class="boxErrorItemsDetail">
          <div class="textErrorItemsDetail">
            <img src="assets/icons_bar/error.png">
            <span style="position: relative; top: -3px; padding-left: 0px;">
              {{ msgError }}
            </span>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ng-template>