<ion-header no-border>
  <ion-toolbar color="whiteg">
    <ion-buttons slot="start" class="iconHead">
      <ion-menu-button auto-hide="false" (click)="showHideMenu()"></ion-menu-button>
    </ion-buttons>
    <ion-title class="titleHead">
      Delivery
    </ion-title>
    <ion-buttons slot="end">
      <ion-searchbar class="inputSearchTables" type="text" placeholder="BUSCAR PEDIDO" (ionInput)="getItems($event)">
      </ion-searchbar>
    </ion-buttons>
    <ion-buttons slot="end" class="iconHead">
      <ion-button auto-hide="false" (click)="showHideMenuDelivery()">
        <ion-icon slot="icon-only" name="bicycle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="stylesContent">
  <ion-grid>
    <ion-row>
      <span id="titleNumberOrders">
        Número Pedido:
        <span id="numberNumberOrders">
          #{{totalOrders | number:'3.0'}}
        </span>
        |
        <span id="linkResetOrders" (click)="resetOrders()">
          <ion-icon slot="start" name="refresh" style="margin-top: 1px;position: absolute;"></ion-icon>
          <span style="margin-left: 20px;">
            Resetear
          </span>
        </span>

        <ion-button *ngIf="ordersPending > 0" id="btnCreateOrder" class="btnDelayOrder" color="white"
          style="margin-right: 8px;pointer-events: none;">
          <ion-icon slot="start" name="time"></ion-icon>
          Demora: {{ordersPending}} pedidos
        </ion-button>

        <ion-button (click)="createOrder()" id="btnCreateOrder" class="btnCreateOrder" color="orange">
          <ion-icon slot="start" name="add"></ion-icon>
          Crear pedido
        </ion-button>
      </span>
    </ion-row>
  </ion-grid>

  <div *ngIf="statusError === false; else error" style="margin-top:-6px;padding:0px 10px 95px 15px;">
    <div *ngIf="statusSearchError === false; else errorSearch">
      <ion-grid style="margin-top:15px;">
        <ion-row>
          <div id="titleTopFilterOrders">
            <span>
              En preparación
            </span>
          </div>
        </ion-row>

        <ion-row>
          <ion-col size-lg="3" size-md="4" size-sm="6" size="6" *ngFor="let orders of ordersSearch">
            <ion-card class="boxTable gradient" color="dark">
              <ion-card-header class="headerCard" text-center>
                <ion-card-title class="titleCardTable">
                  #{{orders.nroPedido | number:'3.0'}}
                </ion-card-title>
                <ion-card-subtitle class="subTitleCardTable" text-left>
                  <span>
                    {{orders.nombreCompleto}}
                  </span>
                  <span class="timeOrder">
                    {{orders.fechaAlta | timeAgo}}
                  </span>
                </ion-card-subtitle>
              </ion-card-header>

              <ion-card-content class="contentCard" text-center>
                <div class="detailSubTotalCard">
                  <span class="subTotalCard">
                    Subtotal
                  </span>
                  <span class="totalCard">
                    ${{orders.totalVenta ? orders.totalVenta : 0}}
                  </span>
                </div>
              </ion-card-content>

              <ion-fab id="boxFab" vertical="center" horizontal="center" slot="fixed">
                <ion-fab-button class="no-gradient-btn" size="small">
                  <ion-icon name="add"></ion-icon>
                </ion-fab-button>
        
                <ion-fab-list side="start">
                  <ion-fab-button [ngClass]="orders.nombreColorBtn" size="small">
                    <ion-icon name="close"></ion-icon>
                  </ion-fab-button>
                  <div id="subTextFabCancelOrder" class="subTextFabIcon">
                    CANCELAR
                  </div>                  
                </ion-fab-list>
                <ion-fab-list side="top">       
                  <ion-fab-button [ngClass]="orders.nombreColorBtn" size="small">
                    <ion-icon name="print"></ion-icon>
                  </ion-fab-button>
                  <div id="subTextFabPrint" class="subTextFabIcon">
                    COMANDA
                  </div>                               
                </ion-fab-list>
                <ion-fab-list side="end">
                  <ion-fab-button [ngClass]="orders.nombreColorBtn" size="small">
                    <ion-icon name="text"></ion-icon>
                  </ion-fab-button>
                  <div id="subTextFabComment" class="subTextFabIcon">
                    COMENTARIO
                  </div>
                </ion-fab-list>       
              </ion-fab>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid style="margin-top:15px;">
        <ion-row>
          <div id="titleTopFilterOrders">
            <span>
              Listos para enviar
            </span>
          </div>
        </ion-row>

        <ion-row *ngIf="ordersReadyToShip?.length > 0; else errorReadyToShip">
          <ion-col size-lg="3" size-md="4" size-sm="6" size="6" *ngFor="let orders of ordersReadyToShip">
            <ion-card class="boxTable no-gradient" color="dark">
              <ion-card-header class="headerCard" text-center>
                <ion-card-title class="titleCardGray" [ngStyle]="{'text-align': orders.nombreCadete?.length > 0 ? 'left' : 'center' }">
                  #{{orders.nroPedido | number:'3.0'}}

                  <span style="text-align:right;float:right">
                    {{orders.nombreCadete}}
                  </span>
                </ion-card-title>
                <ion-card-subtitle class="subTitleCardGray" text-left>
                  <span *ngIf="orders.direccion; else emptyDir">
                    {{orders.direccion}}
                  </span>                  
                  <ng-template #emptyDir>
                    <span>
                      Sin dirección
                    </span>                
                  </ng-template>  
                </ion-card-subtitle>
              </ion-card-header>

              <ion-card-content class="contentCard" text-center>
                <div class="detailSubTotalCard">
                  <span class="subTotalCard">
                    Total
                  </span>
                  <span class="totalCard">
                    ${{orders.totalVenta ? orders.totalVenta : 0}}
                  </span>
                </div>
              </ion-card-content>

              <ion-row style="margin-top:25px;">
                <ion-col size="12" class="ion-text-center" style="padding: 0px;">
                  <ion-button id="btnActionOrder" class="gradient-btn" (click)="showPopCouriers($event)">
                    <ion-icon slot="start" name="add"></ion-icon>
                    Asignar Cadete
                  </ion-button>
                </ion-col>
              </ion-row>              
            </ion-card>
          </ion-col>
        </ion-row>
        <ng-template #errorReadyToShip>
          <ion-grid style="padding:0px;">
            <ion-row style="margin-left: 5px;margin-right: 5px;">
              <ion-col size="12">
                <ion-card [ngClass]="['boxErrorItemsDetail', 'no-gradient']">
                  <ion-card-header text-center style="padding:12px;">
                    <div class="textErrorItemsDetail">
                      <img src="assets/icons_bar/018-motorcycle-error.png">
                      <span style="position: relative; top: -5px; padding-left: 3px;">
                        No hay pedidos para enviar
                      </span>
                    </div>
                  </ion-card-header>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ng-template>
      </ion-grid>

      <ion-grid style="margin-top:15px;">
        <ion-row>
          <div id="titleTopFilterOrders">
            <span>
              Enviados
            </span>
          </div>
        </ion-row>

        <ion-row *ngIf="ordersSent?.length > 0; else errorSent">
          <ion-col size-lg="3" size-md="4" size-sm="6" size="6" *ngFor="let orders of ordersSent">
            <ion-card class="boxTable no-gradient" color="dark">
              <ion-card-header class="headerCard" text-center>
                <ion-card-title class="titleCardGray" [ngStyle]="{'text-align': orders.nombreCadete?.length > 0 ? 'left' : 'center' }">
                  #{{orders.nroPedido | number:'3.0'}}

                  <span style="text-align:right;float:right">
                    {{orders.nombreCadete}}
                  </span>
                </ion-card-title>
                <ion-card-subtitle class="subTitleCardGray" text-left>
                  <span *ngIf="orders.direccion; else emptyDir">
                    {{orders.direccion}}
                  </span>                  
                  <ng-template #emptyDir>
                    <span>
                      Sin dirección
                    </span>                
                  </ng-template>  
                </ion-card-subtitle>
              </ion-card-header>

              <ion-card-content class="contentCard" text-center>
                <div class="detailSubTotalCard">
                  <span class="subTotalCard">
                    Total
                  </span>
                  <span class="totalCard">
                    ${{orders.totalVenta ? orders.totalVenta : 0}}
                  </span>
                </div>
              </ion-card-content>

              <ion-row style="margin-top:25px;">
                <ion-col size="12" class="ion-text-center" style="padding: 0px;">
                  <ion-button id="btnActionOrder" color="orange">
                    <ion-icon slot="start" name="cash"></ion-icon>
                    Cobrar
                  </ion-button>
                </ion-col>
              </ion-row>              
            </ion-card>
          </ion-col>
        </ion-row>
        <ng-template #errorSent>
          <ion-grid style="padding:0px;">
            <ion-row style="margin-left: 5px;margin-right: 5px;">
              <ion-col size="12">
                <ion-card [ngClass]="['boxErrorItemsDetail', 'no-gradient']">
                  <ion-card-header text-center style="padding:12px;">
                    <div class="textErrorItemsDetail">
                      <img src="assets/icons_bar/029-shopping-bag-error.png">
                      <span style="position: relative; top: -5px; padding-left: 3px;">
                        No hay pedidos enviados
                      </span>
                    </div>
                  </ion-card-header>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ng-template>
      </ion-grid>

      <ion-grid style="margin-top:15px;">
        <ion-row>
          <div id="titleTopFilterOrders">
            <span>
              Cobrados
            </span>
          </div>
        </ion-row>

        <ion-row *ngIf="ordersPaidOut?.length > 0; else errorPaidOut">
          <ion-col size-lg="3" size-md="4" size-sm="6" size="6" *ngFor="let orders of ordersPaidOut">
            <ion-card class="boxTable no-gradient" color="dark">
              <ion-card-header class="headerCard" text-center>
                <ion-card-title class="titleCardGray" [ngStyle]="{'text-align': orders.nombreCadete?.length > 0 ? 'left' : 'center' }">
                  #{{orders.nroPedido | number:'3.0'}}

                  <span style="text-align:right;float:right">
                    {{orders.nombreCadete}}
                  </span>
                </ion-card-title>
                <ion-card-subtitle class="subTitleCardGray" text-left>
                  <span *ngIf="orders.direccion; else emptyDir">
                    {{orders.direccion}}
                  </span>                  
                  <ng-template #emptyDir>
                    <span>
                      Sin dirección
                    </span>                
                  </ng-template>  
                </ion-card-subtitle>
              </ion-card-header>

              <ion-card-content class="contentCard" text-center>
                <div class="detailSubTotalCard">
                  <span class="subTotalCard">
                    Total
                  </span>
                  <span class="totalCard">
                    ${{orders.totalVenta ? orders.totalVenta : 0}}
                  </span>
                </div>
              </ion-card-content>

              <ion-row style="margin-top:25px;">
                <ion-col size="12" class="ion-text-center" style="padding: 0px;">
                  <ion-button id="btnActionOrder" color="gray">
                    <ion-icon slot="start" name="eye"></ion-icon>
                    Ver
                  </ion-button>
                </ion-col>
              </ion-row>              
            </ion-card>
          </ion-col>
        </ion-row>
        <ng-template #errorPaidOut>
          <ion-grid style="padding:0px;">
            <ion-row style="margin-left: 5px;margin-right: 5px;">
              <ion-col size="12">
                <ion-card [ngClass]="['boxErrorItemsDetail', 'no-gradient']">
                  <ion-card-header text-center style="padding:12px;">
                    <div class="textErrorItemsDetail">
                      <img src="assets/icons_bar/048-bill-error.png">
                      <span style="position: relative; top: -5px; padding-left: 3px;">
                        No hay pedidos cobrados
                      </span>
                    </div>
                  </ion-card-header>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ng-template>
      </ion-grid>
    </div>
  </div>

  <ng-template #error>
    <ion-grid>
      <ion-row justify-content-center align-items-center
        style="font-size: 1.4em;font-weight: 500;padding: 5px;text-align: center;">
        <div id="divImgError">
          <img src="assets/icons_bar/027-taste-error.png" id="imgError">
        </div>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row justify-content-center align-items-center id="textError">
        <ion-text>
          {{msgError}}
        </ion-text>
      </ion-row>
    </ion-grid>
  </ng-template>

  <ng-template #errorSearch>
    <ion-grid>
      <ion-row justify-content-center align-items-center
        style="font-size: 1.4em;font-weight: 500;padding: 5px;text-align: center;">
        <div id="divImgError">
          <img src="assets/icons_bar/028-search-fail.png" id="imgError">
        </div>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row justify-content-center align-items-center id="textError">
        <ion-text>
          No se encontraron pedidos para la búsqueda realizada.
        </ion-text>
      </ion-row>
    </ion-grid>
  </ng-template>
</ion-content>