<ion-header>
  <ion-toolbar color="orange">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false" (click)="showHideMenu()"></ion-menu-button>
    </ion-buttons>    
    <ion-title>
      Mesas
    </ion-title>
  </ion-toolbar>
</ion-header>