<ion-list style="margin-right: 15px;">
  <ion-list-header lines="inset" class="headTablesWaiter">
    <ion-label class="headLabelTablesWaiter">
      Mesas de 
      <span style="text-transform: capitalize;">
        {{ infoWaiter['nameWaiter'] }} 
      </span>
    </ion-label>
  </ion-list-header>
  <ng-container *ngIf="tablesWaiter?.length > 0; else emptyTables" >
    <ion-item button *ngFor="let item of tablesWaiter; let i = index" class="itemTablesWaiter" detail (click)="hideModal()" [routerLink]="['/detalle-pedido/'+item.idGenPedido]">
      <ion-label class="descTablesWaiter">
        {{ item.descripcion }}
      </ion-label>
    </ion-item>
  </ng-container>
  <ng-template #emptyTables>
    <ion-grid style="padding:0px;">
      <ion-row style="margin-left: 16px;">
        <ion-col size="12" class="boxErrorItemsDetail">
          <div class="textErrorItemsDetail">
            <img src="assets/icons_bar/error.png">
            <span style="position: relative; top: -3px; padding-left: 0px;">
              No hay mesas abiertas
            </span>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-template>
</ion-list>