.headTablesWaiter{
    min-height: 30px;
    max-height: 0px;
}

.headLabelTablesWaiter{
    font-size: 1.0em;
    font-weight: bold;
    color: #4B5050;
    margin-top: 15px;
    min-height: 30px;
}

.descTablesWaiter{
    font-size: 0.8em;
    font-weight: bold;
    color: #9F9D9E;
    margin-top: 8px;
    margin-bottom: 8px;    
}

.itemTablesWaiter{
    --min-height: 0px !important;
    --max-height: 0px !important;
    // width: 92% !important;
    text-transform: uppercase;
}

ion-item {
    --inner-padding-end: 5px !important;
}

.boxErrorItemsDetail{
    // width: 100%;
    font-weight: bold;
    color: #9F9D9E;

    .textErrorItemsDetail{
        margin: 0px auto;
        font-size: 0.8em;
        text-align: center;
        // width: 300px;
    }

    img{
        width: 14px;
        display: initial;
        // position: absolute;
        // margin-top: -4px;
        // margin-left: 35px;
    }
}