.popover-content.sc-ion-popover-ios{
    width: 320px !important;
    height: 320px !important;
}

ion-item {
    --inner-padding-end: 5px !important;
}

.inputSearchCouriersList.sc-ion-searchbar-md-h{
    -webkit-padding-start: 1px !important;
    padding-inline-start: 1px !important;
    -webkit-padding-end: 1px !important;
    padding-inline-end: 1px !important;
    padding-bottom: 2px !important;
    padding-top: 3px !important;
}   

.itemOrderCourier{
    --color: #ffffff !important;
    --background: rgba(43,43,227,1);
    --background: -moz-linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
    --background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(43,43,227,1)), color-stop(100%, rgba(122,86,250,1)));
    --background: -webkit-linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
    --background: -o-linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
    --background: -ms-linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
    --background: linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b2be3', endColorstr='#7a56fa', GradientType=1 );
}

ion-item.itemsListCourier{
    font-weight: bold;
    font-size: 0.9em;
    --color: #45515D;
    border-radius: 5px;
}

ion-item.itemsListCourier:hover{
    --color: #ffffff !important;
    --background-hover: rgba(43,43,227,1) !important;
    --background-hover: -moz-linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%) !important;
    --background-hover: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(43,43,227,1)), color-stop(100%, rgba(122,86,250,1))) !important;
    --background-hover: -webkit-linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%) !important;
    --background-hover: -o-linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%) !important;
    --background-hover: -ms-linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%) !important;
    --background-hover: linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b2be3', endColorstr='#7a56fa', GradientType=1 ) !important;
}

#btnSetCourier{
    --border-radius: 100px;
    font-size: 0.8em;
    font-weight: bold;
    text-transform: capitalize;
}

.list-md{
    padding-top: 8px !important; 
    padding-bottom: 0px !important;
}

#listStyle{
    padding-left: 10px;
    width: 97%;
    padding-top: 0px !important;
    padding-bottom: 8px !important;
}

.boxErrorItemsDetail{
    // width: 100%;
    font-weight: bold;
    color: #9F9D9E;
    padding-bottom: 8px !important;

    .textErrorItemsDetail{
        margin: 0px auto;
        font-size: 0.9em;
        text-align: center;
        // width: 300px;
    }

    img{
        width: 14px;
        display: initial;
        // position: absolute;
        // margin-top: -4px;
        // margin-left: 35px;
    }
}