<ng-container *ngIf="statusError; else emptyCouriersList">
    <ion-list id="listStyle" style="padding-bottom: 0px !important;">
      <ion-item style="border-radius: 5px;">
        <ion-label>
          <ion-searchbar class="inputSearchCouriersList" type="text" placeholder="BUSCAR CADETE"
            (ionInput)="getCouriers($event)" #searchCourierList>
          </ion-searchbar>
        </ion-label>
      </ion-item>
    </ion-list>
  
    <ng-container *ngIf="statusErrorSearch; else emptyCouriersList">
      <ion-list id="listStyle">
        <ion-item class="itemsListCourier itemCourier{{item.idCadete}}" style="margin-top: 3px;border-radius: 5px;"
          *ngFor="let item of couriersSearch">
          <ion-label>
            {{item.nombre}}
          </ion-label>
          <ion-checkbox [disabled]="item.isDisabled"  class="couriersList" mode="ios" slot="start" [(ngModel)]="item.isChecked"
            (ionChange)="checkEvent(item)"></ion-checkbox>
        </ion-item>
  
        <ion-grid style="padding:0px;">
          <ion-row>       
            <ion-col size="12" class="ion-text-center">
              <ion-button id="btnSetCourier" class="gradient-btn" (click)="setOrderCourier()">
                <ion-icon slot="start" name="checkmark"></ion-icon>
                Asignar
              </ion-button>          
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>
    </ng-container>
  </ng-container>
  
  <ng-template #emptyCouriersList>
    <ion-list>
      <ion-grid style="padding:0px;">
        <ion-row style="margin-left: 16px;">
          <ion-col size="12" class="boxErrorItemsDetail">
            <div class="textErrorItemsDetail">
              <img src="assets/icons_bar/error.png">
              <span style="position: relative; top: -3px; padding-left: 0px;">
                {{ msgError }}
              </span>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </ng-template>