<ion-header no-border>
  <ion-toolbar color="whiteg">
    <ion-buttons slot="start" class="iconHead">
      <ion-menu-button auto-hide="false" (click)="showHideMenu()"></ion-menu-button>
    </ion-buttons>    
    <ion-title class="titleHead">
      Orden - 
      <span style="text-transform: capitalize;">
        {{nameTable}}
      </span>
    </ion-title> 
    <ion-buttons slot="end" class="iconHead">
      <ion-back-button></ion-back-button>
    </ion-buttons>    
    <ion-buttons slot="end" class="iconHead">
      <ion-button auto-hide="false" (click)="showHideMenuDetail()">
        <ion-icon slot="icon-only" name="paper"></ion-icon>
      </ion-button>
    </ion-buttons>     
  </ion-toolbar>
</ion-header>

<ion-content class="stylesContent">
  <ion-searchbar placeholder="BUSCAR PRODUCTO" (ionInput)="getItems($event,0)"></ion-searchbar>

  <ion-grid>
    <ion-row>
      <ion-col size-lg="12" size-md="12" size-sm="12" size="12">
        <ion-row>
          <div id="titleTopProducts">
            <img src="assets/icons_bar/039-star.png">
            <span style="margin-left:28px">
              Destacados
            </span>
            <ion-icon (click)="statusBtnViewTop(1);" class="showHideBtnTop" *ngIf="hideViewTop" name="remove-circle"></ion-icon>
            <ion-icon (click)="statusBtnViewTop(0);" class="showHideBtnTop" *ngIf="showViewTop" name="add-circle"></ion-icon>
          </div>
        </ion-row>

        <div *ngIf="hideViewTop">
          <ion-row *ngIf="itemsTop?.length > 0; else errorItemsTop">
            <ion-segment class="segment productsTopSegment" mode="ios" scrollable>
              <ion-col size-lg="3" size-md="4" size-sm="6" size="6" *ngFor="let item of itemsTop;">
                <ion-card [ngClass]="['boxTable', 'no-gradient']" (click)="menuSubProducts(item)"> 
                  <ion-card-header class="headerCardItem" text-left>
                    <span class="codCardItem">
                      {{ item.codigo }}
                    </span> 
                    <span class="totalCardItem">
                      $ {{ item.precioVenta }}
                    </span>
                  </ion-card-header>

                  <ion-card-content class="descCardItem">       
                    {{ item.nombre }}
                  </ion-card-content>         
                </ion-card>
              </ion-col>
            </ion-segment>           
          </ion-row>
        </div>

        <ng-template #errorItemsTop> 
          <ion-row>
            <ion-card [ngClass]="['boxFeaturedProduct', 'no-gradient']"> 
              <ion-card-header text-center>          
                <div class="textFeaturedProduct">
                  <img src="assets/icons_bar/039-star-error.png">
                  Aún no hay productos destacados
                </div>
              </ion-card-header>
            </ion-card>
          </ion-row>
        </ng-template>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size-lg="12" size-md="12" size-sm="12" size="12">
        <ion-row>
          <div id="titleTopProducts">
            <img src="assets/icons_bar/008-french-fries.png">
            <span style="margin-left:28px">
              Categorias
            </span>
          </div>
        </ion-row>
      
        <ion-row>
          <ion-segment (ionChange)="getItems($event,0)" *ngIf="categories?.length > 0" class="segment categorySegment" mode="ios" scrollable>
            <ion-segment-button class="segementBtn" value="" checked>
              <ion-label class="btnSegmentLabel">
                Todos
              </ion-label>
            </ion-segment-button>
            <ion-segment-button class="segementBtn" style="margin-left: 15px;" value="{{category.idCategoriaProducto}}" *ngFor="let category of categories">
              <ion-label class="btnSegmentLabel">
                {{category.descripcion}}
              </ion-label>
            </ion-segment-button>    
          </ion-segment>    
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
       
  <div style="padding-bottom: 10px;">
    <ion-grid *ngIf="titleCategory; else listSearchProduct">
      <ion-row>
        <ion-col size-lg="12" size-md="12" size-sm="12" size="12" *ngFor="let category of categories">
          <ion-row>
            <div id="titleAllCategories">
              {{category.descripcion}}
            </div>
          </ion-row>
          <ion-row>
            <ion-col size-lg="3" size-md="4" size-sm="6" size="6" *ngFor="let item of itemsList;" [ngClass]="{'disabled-field': category.idCategoriaProducto!=item.idCategoriaProducto}">
              <div *ngIf="category.idCategoriaProducto==item.idCategoriaProducto">
                <ion-card [ngClass]="['boxTable', 'no-gradient']" (click)="menuSubProducts(item)"> 
                  <ion-card-header class="headerCardItem" text-left>
                    <span class="codCardItem">
                      {{ item.codigo }}
                    </span> 
                    <span *ngIf="item.idTipoProducto == 0" class="totalCardItem">
                      $ {{ item.precioVenta }}
                    </span>
                    <ion-icon *ngIf="item.idTipoProducto == 1" class="iconCardItem" name="pricetags"></ion-icon>
                  </ion-card-header>

                  <ion-card-content class="descCardItem">       
                    {{ item.nombre }}
                  </ion-card-content>         
                </ion-card>
              </div>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ng-template #listSearchProduct> 
      <ion-grid>
        <ion-row>
          <ion-col size-lg="3" size-md="4" size-sm="6" size="6" *ngFor="let item of itemsList;">
            <ion-card [ngClass]="['boxTable', 'no-gradient']" (click)="menuSubProducts(item)"> 
              <ion-card-header class="headerCardItem" text-left>
                <span class="codCardItem">
                  {{ item.codigo }}
                </span> 
                <span *ngIf="item.idTipoProducto == 0" class="totalCardItem">
                  $ {{ item.precioVenta }}
                </span>
                <ion-icon *ngIf="item.idTipoProducto == 1" class="iconCardItem" name="pricetags"></ion-icon>
              </ion-card-header>

              <ion-card-content class="descCardItem">       
                {{ item.nombre }}
              </ion-card-content>         
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>    
    </ng-template>
  </div>    

  <div *ngIf="statusSearchProducts"> 
    <ion-grid>
      <ion-row justify-content-center align-items-center style="font-size: 1.4em;font-weight: 500;padding: 5px;text-align: center;">
        <div id="divImgError" style="margin-top:0px;">
          <img src="assets/icons_bar/028-search-fail.png" id="imgError">
        </div>
      </ion-row>
    </ion-grid>
    
    <ion-grid>
      <ion-row justify-content-center align-items-center id="textError">
          <ion-text>
            No se encontraron productos para la búsqueda realizada.
          </ion-text>
      </ion-row>
    </ion-grid>             
  </div>   
</ion-content>
