#titleAllCategories{
    font-weight: bold;
    font-size: 1.2em;
    padding: 5px 0px 5px 5px;
    margin-top: -3px;
    color: #FF5643;
}

#titleTopProducts{
    font-weight: bold;
    font-size: 1.2em;
    padding: 5px 0px 5px 5px;
    margin-top: -3px;
    color: #404C59;
    width: 99%;

    img{
        width: 22px;
        position: absolute;
        margin-top:-1px;
    }
}

.showHideBtnTop{
    float: right;
    font-size: 1.1em;
    cursor: pointer;
}

.boxFeaturedProduct{
    width: 100%;
    margin: 10px 0px 0px 0px !important;
    border-radius: 10px;
    font-weight: bold;
    --color: #404C59;

    .textFeaturedProduct{
        margin: 0px auto;
        width: 300px;
    }

    img{
        width: 22px;
        position: absolute;
        margin-top: -4px;
        margin-left: 15px;
    }
}

.productsTopSegment{
    width: 100% !important;
    margin: 6px !important;
}

.categorySegment{
    width: 100% !important;
    margin: 6px !important;
}

.disabled-field{
    pointer-events: none;
    display: none;
}

.headerCardItem{
    padding-bottom: 4px !important; //8px
}

.iconCardItem{
    color: #404C59;
    float: right;
    font-size: 1.4em;
    font-weight: bold;
}

.codCardItem{
    color:#404C59;
    font-size: 1.1em;
    font-weight: bold;
}

.totalCardItem{
    color:#404C59;
    float: right;
    font-size: 1.1em;
    font-weight: bold;    
}

.descCardItem{
    color: #757575;
    font-size: 1.1em;
    font-weight: bold;
    line-height: 18px !important;
    text-align: left;
}

.boxTable{
    text-transform: uppercase;
    cursor: pointer;
    height: 75px;
    border-radius: 15px;
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;    
}

.boxTable:hover{
    ion-card-header{
        color: #ffffff;    
    }

    .codCardItem{
        color:#ffffff;    
    }

    .iconCardItem{
        color:#ffffff;    
    }
    
    .totalCardItem{
        color:#ffffff;    
    }    
    
    .descCardItem{
        color:#DCDCDC !important;    
    }    

    color: #ffffff;
    background: rgba(43,43,227,1);
    background: -moz-linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(43,43,227,1)), color-stop(100%, rgba(122,86,250,1)));
    background: -webkit-linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
    background: -o-linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
    background: linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b2be3', endColorstr='#7a56fa', GradientType=1 );
}

.segment{
    --color: #5C6064;
    --background: #FFFFFF;
    margin:15px;
    padding-bottom: 10px;

    ion-segment-button{
        min-height: 30px !important; 
        height: 30px !important; 
    }    
}

.segment-button-checked{
    --color: #ffffff;
    --background-checked: rgba(43,43,227,1);
    --background-checked: -moz-linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
    --background-checked: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(43,43,227,1)), color-stop(100%, rgba(122,86,250,1)));
    --background-checked: -webkit-linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
    --background-checked: -o-linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
    --background-checked: -ms-linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
    --background-checked: linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b2be3', endColorstr='#7a56fa', GradientType=1 );
}

.segment::-webkit-scrollbar {
    margin-top: 10px !important;
    height: 4px !important;
    display: block;
}

.segment::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    border-radius: 5px;
}

.segment::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #404C59;
}

.segementBtn{
    border: 0px;
    border-radius: 50px;
    height: 25px;
    margin-top: 0px;
    box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.2), 0 1px 0px 0 rgba(0, 0, 0, 0.30);
    --background-hover: rgba(43,43,227,1);
    --background-hover: -moz-linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
    --background-hover: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(43,43,227,1)), color-stop(100%, rgba(122,86,250,1)));
    --background-hover: -webkit-linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
    --background-hover: -o-linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
    --background-hover: -ms-linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
    --background-hover: linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b2be3', endColorstr='#7a56fa', GradientType=1 );    
}

.segementBtn:hover{
    color: #FFFFFF;
}

.btnSegmentLabel{
    font-weight: bold;
    text-transform: capitalize;
}

@media (max-width: 550px) and (min-width: 360px) {
    .descCardItem{
        margin-top: -8px;
    }    
}