// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

@import 'fonts';

/** Ionic CSS Variables **/
:root,
:root[mode="md"],
:root[mode="ios"] {
  --ion-font-family: 'Proxima Nova';
  font-family: 'Proxima Nova';

  #imgError{
    background: rgba(43,43,227,1);
    background: -moz-linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(43,43,227,1)), color-stop(100%, rgba(122,86,250,1)));
    background: -webkit-linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
    background: -o-linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
    background: linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
    /* width: 114px; */
    border-radius: 100px;
    // padding: 2px;
  }

  #divImgError{
    margin-top: 50px;
    height: 123px;
    width: 123px;
    border: double 0.2em transparent;
    border-radius: 100px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(black), to(black)), -webkit-gradient(linear, left top, right top, from(#7a56fa), to(#2b2be3));
    background-image: linear-gradient(black, black), linear-gradient(to right, #7a56fa, #2b2be3);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12);
  }

  #textError{
    font-size: 1.3em;
    font-weight: 500;
    padding: 5px;
    text-align: center;
    color: #404C59;
    font-weight: bold;
  }

  ion-title.titleHeadMenu{
    line-height: 40px;
    padding-left: 75px;
    background: url('../assets/logo/logobisoft2-light.png') no-repeat left center;
    background-size: 47px;
    background-position-x: 7px;
    font-weight: bold;
    color: #404c59;    
  }

  ion-title.titleHeadMenuTables{
    font-weight: bold;
    color: #404c59;    
    position: absolute;
    float: left;
    margin-top: -15px;    
  }

  ion-title.titleHeadMenuOrders{
    font-weight: bold;
    color: #404c59;    
    // position: absolute;
    // float: left;
    font-size: 1.0em;  
  }
 
  .titleHead{
    font-weight: bold;
    color: #404c59;
  }

  .iconHead{
    color: #B0B3BD;
  }

  .iconHeadVol{
    // color: #404C59 !important;
    margin-top: 4px;
    color: #FFFFFF !important;
    font-weight: bold;
    border:2px solid #F7F9FB;
    background-color: #F7F9FB;
    --border-radius: 100px !important;
    border-radius: 100px !important;
    --background: rgba(43,43,227,1);
    --background: -moz-linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
    --background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(43,43,227,1)), color-stop(100%, rgba(122,86,250,1)));
    --background: -webkit-linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
    --background: -o-linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
    --background: -ms-linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
    --background: linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b2be3', endColorstr='#7a56fa', GradientType=1 );    
  }

  .iconHeadVol:hover{
    color: #404C59 !important;
    background-color: #E8EBEE;
    --background: #E8EBEE;
    font-weight: bold;
    border-radius: 100px !important;
    border:2px solid #3631E6;
    transition: all 0.35s;    
  }

  .iconHeadTime{
    font-weight: bold;
    font-size: 0.9em;
    margin: 0px auto !important;
    --padding-end: 20px !important;
    --padding-bottom: 20px !important;
    --padding-top: 20px !important;
    --padding-start: 20px !important;    
    --border-radius: 100px !important;
    border-radius: 100px !important;
  }

  .stylesContent{
    --background: #f7f9fb !important;
    // --background: #F0F0F4 !important;
  }

  /** gradient **/
  .gradient-red {
    color: #ffffff;
    background: rgba(253,27,62,1);
    background: -moz-linear-gradient(45deg, rgba(253,27,62,1) 0%, rgba(247,90,133,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(247,90,133,1)), color-stop(100%, rgba(122,86,250,1)));
    background: -webkit-linear-gradient(45deg, rgba(253,27,62,1) 0%, rgba(247,90,133,1) 100%);
    background: -o-linear-gradient(45deg, rgba(253,27,62,1) 0%, rgba(247,90,133,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(253,27,62,1) 0%, rgba(247,90,133,1) 100%);
    background: linear-gradient(45deg, rgba(253,27,62,1) 0%, rgba(247,90,133,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FD1B3E', endColorstr='#F75A85', GradientType=1 );
  }

  .gradient {
    color: #ffffff;
    background: rgba(43,43,227,1);
    background: -moz-linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(43,43,227,1)), color-stop(100%, rgba(122,86,250,1)));
    background: -webkit-linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
    background: -o-linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
    background: linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b2be3', endColorstr='#7a56fa', GradientType=1 );
  }

  .no-gradient {
    background: rgba(255,255,255,1);
    color: rgba(92,96,100,1);
  }

  .gradient-btn {
    --background-hover: rgba(43,43,227,1);
    --background-hover: -moz-linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
    --background-hover: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(43,43,227,1)), color-stop(100%, rgba(122,86,250,1)));
    --background-hover: -webkit-linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
    --background-hover: -o-linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
    --background-hover: -ms-linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
    --background-hover: linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
    --color-hover: rgba(247,247,249,1);    
    --color: rgba(247,247,249,1);    

    border-radius: 5px;
    --border-radius: 5px;

    --background: rgba(43,43,227,1);
    --background: -moz-linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
    --background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(43,43,227,1)), color-stop(100%, rgba(122,86,250,1)));
    --background: -webkit-linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
    --background: -o-linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
    --background: -ms-linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
    --background: linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b2be3', endColorstr='#7a56fa', GradientType=1 );
  }   
  
  .no-gradient-btn {
    --background-hover: rgba(247,247,249,1);
    --color-hover: rgba(115,83,248,1);

    --background: rgba(247,247,249,1);
    --color: rgba(115,83,248,1);
  }  

  /** orange **/
  .ion-color-orange {
    --ion-color-base: #FF5643;
    --ion-color-base-rgb: 255, 86, 67;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 255, 255, 255;
    --ion-color-shade: #FF5643;
    --ion-color-tint: #FF5643;
  }

  /** orange **/
  // .ion-color-orange {
  //   --ion-color-base: #E85A4F;
  //   --ion-color-base-rgb: 232, 90, 79;
  //   --ion-color-contrast: #ffffff;
  //   --ion-color-contrast-rgb: 255, 255, 255;
  //   --ion-color-shade: #E3382B;
  //   --ion-color-tint: #E85A4F;
  // }

  /** blue **/
  .ion-color-blue {
    --ion-color-base: #1A2696;
    --ion-color-base-rgb: 26, 38, 150;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 255, 255, 255;
    --ion-color-shade: #141E76;
    --ion-color-tint: #1A2696;
  }

  /** gray **/
  .ion-color-gray {
    --ion-color-base: #666666;
    --ion-color-base-rgb: 102, 102, 102;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 218, 213, 192;
    --ion-color-shade: #666666;
    --ion-color-tint: #666666;
  }

  /** black **/
  .ion-color-black {
    --ion-color-base: #444444;
    --ion-color-base-rgb: 68, 68, 68;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 255, 255, 255;
    --ion-color-shade: #444444;
    --ion-color-tint: #444444;
  }

  /** white gray **/  
  .ion-color-whiteg {
    --ion-color-base: #F7F9FB;
    --ion-color-base-rgb: 247,249,251;
    --ion-color-contrast: #404C59;
    --ion-color-contrast-rgb: 64,76,89;
    --ion-color-shade: #F7F9FB;
    --ion-color-tint: #F7F9FB;
  }

  /** white **/
  .ion-color-white {
    --ion-color-base: #ffffff;
    --ion-color-base-rgb: 255, 255, 255;
    --ion-color-contrast: #404C59;
    --ion-color-contrast-rgb: 64,76,89;
    --ion-color-shade: #ffffff;
    --ion-color-tint: #ffffff;
  }

  /** primary **/
  --ion-color-primary: #0074D9;
  --ion-color-primary-rgb: 0,135,255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #0074D9;
  --ion-color-primary-tint: #0074D9;

  /** secondary **/
  --ion-color-secondary: #39CCCC;
  --ion-color-secondary-rgb: 0,214,214;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #39CCCC;
  --ion-color-secondary-tint: #39CCCC;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #2ECC40;
  --ion-color-success-rgb: 121, 223, 157;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #2ECC40;
  --ion-color-success-tint: #2ECC40;

  /** warning **/
  --ion-color-warning: #FFDC00;
  --ion-color-warning-rgb: 255, 237, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #FFDC00;
  --ion-color-warning-tint: #FFDC00;

  /** danger **/
  --ion-color-danger: #FF4136;
  --ion-color-danger-rgb: 239, 70, 77;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #FF4136;
  --ion-color-danger-tint: #FF4136;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}
