<ion-app class="md">
  <ion-split-pane contentId="main-content">
    <ion-menu id="menuUser" contentId="main-content" type="overlay" [ngClass]="[statusMenu]" side="start"
      menuId="first">
      <ion-header no-border>
        <ion-toolbar color="white">
          <ion-title class="titleHeadMenu">
            Bisoft
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list lines="none" style="padding: 0px 5px 0px 5px;height: 100%;">
          <ion-menu-toggle auto-hide="false">
            <div id="itemsBoxMenu">
              <ion-item class="menuItem" [routerDirection]="'root'" routerLinkActive='active-item'
                [routerLink]="[p.url]" *ngFor="let p of appPages">
                <ion-icon slot="start" [name]="p.icon"></ion-icon>
                <ion-label>
                  {{p.title}}
                </ion-label>
                <ion-label id="shortcuts_menu">
                  Ctrl + Alt + {{p.shortcut}}
                </ion-label>
              </ion-item>
              <ion-item class="menuItem" *ngIf="isLogginPin" routerLinkActive='active-item' [routerDirection]="'root'"
                [routerLink]="['/mesas']">
                <ion-icon slot="start" name="md-apps"></ion-icon>
                <ion-label>
                  Mesas
                </ion-label>
                <ion-label id="shortcuts_menu">
                  Ctrl + Alt + ME
                </ion-label>
              </ion-item>
              <ion-item class="menuItem" *ngIf="isLogginPin" routerLinkActive='active-item' [routerDirection]="'root'"
                [routerLink]="['/mostrador']">
                <ion-icon slot="start" name="md-easel"></ion-icon>
                <ion-label>
                  Mostrador
                </ion-label>
                <ion-label id="shortcuts_menu">
                  Ctrl + Alt + MO
                </ion-label>
              </ion-item>
              <ion-item class="menuItem" *ngIf="isLogginPin" routerLinkActive='active-item' [routerDirection]="'root'"
                [routerLink]="['/delivery']">
                <ion-icon slot="start" name="md-bicycle"></ion-icon>
                <ion-label>
                  Delivery
                </ion-label>
                <ion-label id="shortcuts_menu">
                  Ctrl + Alt + D
                </ion-label>
              </ion-item>
              <ion-item class="menuItem" *ngIf="!isLogginPin && isLoggin && !isLogginKitchen" routerLinkActive='active-item'
                [routerDirection]="'root'" [routerLink]="['/login-pin-empleado']">
                <ion-icon slot="start" name="md-keypad"></ion-icon>
                <ion-label>
                  Mozo
                </ion-label>
                <ion-label id="shortcuts_menu">
                  Ctrl + Alt + M
                </ion-label>
              </ion-item>
              <ion-item class="menuItem" *ngIf="isLogginPin" [routerDirection]="'root'" [routerLink]=""
                (click)="logoutWaiter()">
                <ion-icon slot="start" name="md-people"></ion-icon>
                <ion-label>
                  Cambiar Mozo
                </ion-label>
                <ion-label id="shortcuts_menu">
                  Ctrl + Alt + MC
                </ion-label>
              </ion-item>
              <ion-item class="menuItem" *ngIf="isLoggin" [routerDirection]="'root'" [routerLink]="" (click)="logout()">
                <!-- <ion-icon slot="start" name="log-out"></ion-icon> -->
                <ion-icon slot="start" name="power"></ion-icon>
                <ion-label>
                  Cerrar Sesión
                </ion-label>
                <ion-label id="shortcuts_menu">
                  Ctrl + Alt + C
                </ion-label>
              </ion-item>
              <ion-item class="menuItem" *ngIf="!isLoggin" routerLinkActive='active-item' [routerDirection]="'root'"
                [routerLink]="['/login-comercio']">
                <!-- <ion-icon slot="start" name="log-in"></ion-icon> -->
                <ion-icon slot="start" name="power"></ion-icon>
                <ion-label>
                  Iniciar Sesión
                </ion-label>
                <ion-label id="shortcuts_menu">
                  Ctrl + Alt + I
                </ion-label>
              </ion-item>
            </div>
            <ion-item class="menuItemFooter" style="bottom: 60px;" *ngIf="isLogginPin" routerLinkActive='active-item'
              [routerDirection]="'root'" [routerLink]="['/notificaciones']">
              <ion-icon slot="start" name="md-notifications"></ion-icon>
              <!-- <ion-badge slot="start" color="danger" id="notifMenu">
                  0
                </ion-badge> -->
              <ion-label>
                Notificaciones
              </ion-label>
              <ion-label id="shortcuts_menu">
                Ctrl + Alt + N
              </ion-label>
            </ion-item>
            <ion-item class="menuItemFooter" style="bottom: 10px;" *ngIf="isLogginPin" routerLinkActive='active-item'
              [routerDirection]="'root'" [routerLink]="['/perfil']">
              <img slot="start" id="imgUserMenu"
                src="https://designificado.com/wp-content/uploads/2019/08/paisaje-natural-992x661.jpg">
              <ion-badge slot="start" color="success" id="notifMenu">
                0
              </ion-badge>
              <ion-label style="padding-left: 2px;">
                {{userName}}
              </ion-label>
              <ion-label id="shortcuts_menu">
                Ctrl + Alt + P
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-menu id="menuInfoOrders"
      [ngClass]="(isLoggin && isLogginPin && pageMenuTables) ? statusMenuTables : 'hideMenuTables'"
      contentId="main-content" type="overlay" side="end" menuId="second">
      <ion-segment scrollable="true">
        <ion-grid>
          <ion-row>
            <ion-header no-border>
              <ion-toolbar color="white">
                <ion-title class="titleHeadMenuTables">
                  Disponibilidad
                </ion-title>
              </ion-toolbar>
            </ion-header>
            <ion-list lines="none" style="margin-top:-15px;padding: 0px 5px 0px 5px;height: 100%;width: 100%;">
              <ion-item>
                <ion-thumbnail slot="start">
                  <div id="circleInfo" style="background-color:#FEF0D2;color:#C6B692;">
                    <div id="letterCircleInfo">
                      D
                    </div>
                  </div>
                </ion-thumbnail>
                <ion-label>
                  <h2 class="titleInfoMenu">
                    Delivery
                  </h2>
                  <p class="subTitleInfoMenu">
                    {{totalCouriers}} cadetes disponibles
                  </p>
                </ion-label>
              </ion-item>
              <ion-item style="margin-top:0px;">
                <ion-thumbnail slot="start">
                  <div id="circleInfo" style="background-color:#F7DADA;color:#C77777;">
                    <div id="letterCircleInfo">
                      S
                    </div>
                  </div>
                </ion-thumbnail>
                <ion-label>
                  <h2 class="titleInfoMenu">
                    Salón principal
                  </h2>
                  <p class="subTitleInfoMenu">
                    {{totalTablesAvaible}} mesas disponibles
                  </p>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-row>

          <ion-row>
            <ion-header no-border>
              <ion-toolbar color="white">
                <ion-title class="titleHeadMenuTables">
                  Pedidos listos
                </ion-title>
              </ion-toolbar>
            </ion-header>
            <ion-list *ngIf="ordersReady?.length > 0; else noOrdersReady" lines="none"
              style="margin-top:-15px;padding: 10px 5px 25px 5px;height: 100%;width: 100%;">
              <div *ngFor="let item of ordersReady">
                <ion-item class="infoCheckOrder" *ngIf="item.idTab == 1" id="itemOrder{{item.idDetallePedido}}">
                  <ion-thumbnail slot="end" (click)="updateStatusOrder(item)">
                    <div id="circleInfoCheckOrder">
                      <div id="letterCircleInfoCheckOrder">
                        <ion-icon name="checkmark"></ion-icon>
                      </div>
                    </div>
                  </ion-thumbnail>

                  <ion-label>
                    <h2 class="titleInfoMenu" style="text-transform: uppercase;">
                      {{item.nombreMesa}}
                    </h2>
                    <p class="subTitleInfoMenu">
                      Pedido #{{item.nroPedido | number:'3.0'}}
                    </p>
                  </ion-label>
                </ion-item>

                <ion-item class="infoCheckOrder" *ngIf="item.idTab == 2" id="itemOrder{{item.idDetallePedido}}">
                  <ion-thumbnail slot="end" (click)="updateStatusOrder(item)">
                    <div id="circleInfoCheckOrder">
                      <div id="letterCircleInfoCheckOrder">
                        <ion-icon name="checkmark"></ion-icon>
                      </div>
                    </div>
                  </ion-thumbnail>

                  <ion-label>
                    <h2 class="titleInfoMenu">
                      #{{item.nroPedido | number:'3.0'}}
                    </h2>
                  </ion-label>
                </ion-item>
              </div>
            </ion-list>

            <ng-template #noOrdersReady>
              <ion-grid style="padding:0px;">
                <ion-row style="margin-left: 16px;margin-right: 16px;">
                  <ion-col size="12">
                    <ion-card [ngClass]="['boxErrorItemsDetail', 'no-gradient']">
                      <ion-card-header text-center style="padding:12px;">
                        <div class="textErrorItemsDetail">
                          <img src="assets/icons_bar/027-taste-error.png">
                          <span style="position: relative; top: -5px; padding-left: 3px;">
                            No hay pedidos listos
                          </span>
                        </div>
                      </ion-card-header>
                    </ion-card>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ng-template>
          </ion-row>
        </ion-grid>
      </ion-segment>
    </ion-menu>

    <ion-menu id="menuDetail"
      [ngClass]="(isLoggin && isLogginPin && pageMenuDetail) ? statusMenuDetail : 'hideMenuDetail'"
      contentId="main-content" type="overlay" side="end" menuId="third">
      <ion-segment scrollable="true">
        <ion-grid>
          <ion-row>
            <ion-header no-border>
              <ion-toolbar color="white">
                <ion-title class="titleHeadMenuTables headTitleDetail">
                  <!-- <img src="assets/icons_bar/048-bill-plus.png"> -->
                  Detalle Pedido -
                  <span style="text-transform: capitalize;">
                    {{nameTable}}
                  </span>
                </ion-title>
              </ion-toolbar>
            </ion-header>
          </ion-row>

          <ng-container *ngIf="noActivePay; else activePay">
            <ion-row *ngIf="getProductsForm.controls?.length > 0; else errorItemsDetailOrder" class="show-sm"
              size-lg="6" size-md="6" size-sm="6" size="12" style="padding:0px; margin-left: 16px; margin-right: 16px;">
              <form [formGroup]="detailForm" (ngSubmit)="submitDetailForm()" novalidate="novalidate"
                style="padding-bottom: 25px;">
                <div formArrayName="products" style="margin-left: 16px; margin-right: 16px;"
                  style="padding-bottom: 10px;">
                  <ion-grid style="padding:0px;">
                    <ion-row class="rowHeadItemOrderDetail">
                      <ion-col id="colCantHead" size="2" style="padding-right: 0px;">
                        Cant.
                      </ion-col>
                      <ion-col style="text-align: left;" size="5">
                        Producto
                      </ion-col>
                      <ion-col id="colPriceHead" size="2">
                        Precio
                      </ion-col>
                      <ion-col id="colTotalHead" size="2">
                        Total
                      </ion-col>
                      <ion-col size="1">
                        &nbsp;
                      </ion-col>
                    </ion-row>
                  </ion-grid>

                  <div *ngFor="let item of getProductsForm.controls; let pointIndex=index" [formGroupName]="pointIndex">
                    <ion-grid class="headItemDetailOrder"
                      [ngClass]="(item.value.openItem) ? 'headItemDetailOrderPress' : 'headItemDetailOrderNoPress'">
                      <ion-row (click)="toggleSection(pointIndex)">
                        <ion-col size="2" style="padding-right: 0px;">
                          <ion-input type="number" formControlName="cantidad" readonly></ion-input>
                        </ion-col>
                        <ion-col size="5">
                          <ion-input style="text-align: left;" type="text" formControlName="producto" readonly>
                          </ion-input>
                        </ion-col>
                        <ion-col size="2">
                          <ion-input type="number" formControlName="precio" readonly></ion-input>
                        </ion-col>
                        <ion-col size="2">
                          <ion-input type="number" formControlName="subtotal" readonly></ion-input>
                        </ion-col>
                        <ion-col id="colMoreDetail" size="1">
                          <ion-button id="iconMoreDetail" color="white">
                            <ion-icon name="more"></ion-icon>
                          </ion-button>
                        </ion-col>
                      </ion-row>
                    </ion-grid>

                    <ion-grid class="footerItemDetailOrder" *ngIf="item.value.openItem">
                      <ion-row style="padding-bottom:5px;">
                        <ion-col size="3" text-left>
                          <ion-button id="iconInputCant" color="danger" (click)="decrement(pointIndex)">
                            <ion-icon slot="icon-only" name="remove"></ion-icon>
                          </ion-button>
                          <ion-button id="iconInputCant" color="success" (click)="increment(pointIndex)">
                            <ion-icon slot="icon-only" name="add"></ion-icon>
                          </ion-button>
                        </ion-col>
                        <ion-col size="6" text-center>
                          <ion-input *ngIf="item.value.openComment" class="commentInput" type="text"
                        placeholder="comentario" formControlName="comment" id="inputComment{{pointIndex}}"></ion-input>

                          <ion-button (click)="toggleSectionComment(pointIndex)" *ngIf="!item.value.openComment"
                            id="iconComment" class="gradient-btn">
                            <ion-icon slot="icon-only" name="text"></ion-icon>
                          </ion-button>
                        </ion-col>
                        <ion-col size="3" text-right style="padding-right: 0px; padding-left: 0px;">
                          <ion-button id="iconTrash" color="danger" (click)="deleteItem(pointIndex)">
                            <ion-icon slot="icon-only" name="close"></ion-icon>
                          </ion-button>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </div>
                </div>
                <ion-grid>
                  <ion-row>
                    <ion-col size="8" class="ion-text-left rowSubTotalOrderDetail">
                      SUBTOTAL
                    </ion-col>
                    <ion-col size="4" class="ion-text-right rowSubTotalOrderDetail">
                      ${{subTotal}}
                    </ion-col>
                    <ion-col size="8" class="ion-text-left rowMiddleOrderDetail">
                      Envío
                    </ion-col>
                    <ion-col size="4" class="ion-text-right rowMiddleOrderDetail">
                      ${{costoEnvio}}
                    </ion-col>
                    <ion-col size="8" class="ion-text-left rowMiddleOrderDetail">
                      Descuento especial
                    </ion-col>
                    <ion-col size="4" class="ion-text-right rowMiddleOrderDetail">
                      ${{descuento}}
                    </ion-col>
                    <ion-col size="8" class="ion-text-left rowTotalOrderDetail">
                      TOTAL
                    </ion-col>
                    <ion-col size="4" class="ion-text-right rowTotalOrderDetail">
                      ${{total}}
                    </ion-col>
                  </ion-row>
                </ion-grid>
                <ion-grid style="padding:0px;">
                  <ion-row *ngIf="idTab != 2; else payOrderBar">
                    <ion-col size="6" style="padding:0px;">
                      <ion-button *ngIf="ticketValid" (click)="submitTicketForm()"
                        style="--border-radius: 100px;font-weight: bold;" color="orange" expand="block">
                        <ion-icon slot="start" name="print"></ion-icon>
                        Ticket
                      </ion-button>
                    </ion-col>
                    <ion-col size="6" style="padding:0px;">
                      <ion-button (click)="submitPayOrder()" style="--border-radius: 100px;font-weight: bold;"
                        class="gradient-btn" expand="block">
                        <ion-icon slot="start" name="cash"></ion-icon>
                        Pagar
                      </ion-button>
                    </ion-col>
                  </ion-row>

                  <ng-template #payOrderBar>
                    <ion-row>
                      <ion-col size="12" style="padding:0px;">
                        <ion-button (click)="submitPayOrderBar()" style="--border-radius: 100px;font-weight: bold;"
                          class="gradient-btn" expand="block">
                          <ion-icon slot="start" name="cash"></ion-icon>
                          Pagar
                        </ion-button>
                      </ion-col>
                    </ion-row>
                  </ng-template>
                </ion-grid>
              </form>
            </ion-row>

            <ng-template #errorItemsDetailOrder>
              <ion-grid style="padding:0px;">
                <ion-row style="margin-left: 16px;margin-right: 16px;">
                  <ion-col size="12">
                    <ion-card [ngClass]="['boxErrorItemsDetail', 'no-gradient']">
                      <ion-card-header text-center style="padding:12px;">
                        <div class="textErrorItemsDetail">
                          <img src="assets/icons_bar/029-shopping-bag-error.png">
                          <span style="position: relative; top: -5px; padding-left: 3px;">
                            No hay productos cargados
                          </span>
                        </div>
                      </ion-card-header>
                    </ion-card>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ng-template>
          </ng-container>
          <ng-template #activePay>
            <ion-row>
              <ion-col size="12" class="ion-text-left">
                Cliente
              </ion-col>
              <ion-col size="12" class="ion-text-left">
                Select
              </ion-col>
              <ion-col size="12" class="ion-text-left">
                Cliente
              </ion-col>
              <ion-col size="12" class="ion-text-left">
                Select
              </ion-col>
              <ion-col size="6" class="ion-text-left">
                TOTAL
              </ion-col>
              <ion-col size="6" class="ion-text-right">
                $20000
              </ion-col>
            </ion-row>
          </ng-template>


        </ion-grid>
      </ion-segment>
    </ion-menu>

    <ion-menu id="menuInfoDelivery"
      [ngClass]="(isLoggin && isLogginPin && pageMenuDelivery) ? statusMenuDelivery : 'hideMenuDelivery'"
      contentId="main-content" type="overlay" side="end" menuId="four">
      <ion-segment scrollable="true">
        <ion-grid>
          <ion-row style="padding-bottom: 5px;">
            <ion-header no-border style="z-index: 0;">
              <ion-toolbar>
                <ion-title class="titleHeadMenuTables" style="text-align: left; width: 100%;">
                  <span>
                    Lista de Cadetes
                  </span>
                </ion-title>
              </ion-toolbar>
            </ion-header>
          </ion-row>

          <ion-row style="border-bottom:1px solid #E6ECF2; padding-bottom: 15px;">
            <ion-header no-border style="z-index: 0;">
              <ion-title class="titleHeadMenuOrders" style="text-align: left; width: 100%;">
                <span>
                  Agregar Cadete
                </span>

                <div *ngIf="!checkNewCourier" id="circleInfoAddCourier" (click)="openNewCourier(true)">
                  <div id="letterCircleAddCourier">
                    <ion-icon name="add"></ion-icon>
                  </div>
                </div>
                <div *ngIf="checkNewCourier" id="circleInfoAddCourier" (click)="openNewCourier(false)">
                  <div id="letterCircleAddCourier">
                    <ion-icon name="remove"></ion-icon>
                  </div>
                </div>
              </ion-title>

              <form *ngIf="checkNewCourier" [formGroup]="detailFormCourier" (ngSubmit)="submitCourierForm()" novalidate="novalidate"
                style="width: 96%; text-align: center; margin: 0px auto;">
                <ion-grid style="padding-bottom: 0px;">
                  <ion-row>
                    <ion-col size="12">
                      <ion-input type="text" class="commentInput" placeholder="nombre" formControlName="name"
                        #nameCourier></ion-input>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="12">
                      <ion-input type="number" class="commentInput" placeholder="teléfono" formControlName="tel">
                      </ion-input>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="12" class="ion-text-center" style="padding: 0px;">
                      <ion-button id="btnSetCourier" class="gradient-btn" type="submit">
                        <ion-icon slot="start" name="add"></ion-icon>
                        Agregar
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </form>
            </ion-header>
          </ion-row>

          <ion-row>
            <ion-list lines="none" *ngIf="couriers?.length > 0; else noCouriers"
              style="margin-top:5px;padding: 0px 5px 0px 5px;height: 100%;width: 100%;">
              <ion-item id="courierItem" *ngFor="let item of couriers" (click)="showPopOrders($event,item)">
                <ion-thumbnail slot="start">
                  <div id="circleInfo" style="background-color:#FEF0D2;color:#C6B692;">
                    <div id="letterCircleInfo">
                      {{item.nombre.substr(0,1)}}
                    </div>
                  </div>
                </ion-thumbnail>
                <ion-label>
                  <h2 class="titleInfoMenu">
                    {{item.nombre}}
                  </h2>
                  <p class="subTitleInfoMenu">
                    Disponible
 
                    <a href="tel:{{item.celular}}" style="color:#B0B3BF !important;">
                      <span *ngIf="item.celular != ''" style="float: right;">
                        <ion-icon name="call" style="position: absolute; margin-top: 2px; margin-left: -17px;"></ion-icon>
                        {{item.celular}}
                      </span>
                    </a>
                  </p>
                </ion-label>
              </ion-item>
            </ion-list>

            <ng-template #noCouriers>
              <ion-grid style="padding:0px;">
                <ion-row style="margin-left: 16px;margin-right: 16px;">
                  <ion-col size="12">
                    <ion-card [ngClass]="['boxErrorItemsDetail', 'no-gradient']">
                      <ion-card-header text-center style="padding:12px;">
                        <div class="textErrorItemsDetail">
                          <img src="assets/icons_bar/018-motorcycle-error.png">
                          <span style="position: relative; top: -5px; padding-left: 3px;">
                            No hay cadetes disponibles
                          </span>
                        </div>
                      </ion-card-header>
                    </ion-card>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ng-template>
          </ion-row>

          <ion-row>
            <ion-header no-border>
              <ion-toolbar color="white">
                <ion-title class="titleHeadMenuTables">
                  Pedidos listos
                </ion-title>
              </ion-toolbar>
            </ion-header>
            <ion-list *ngIf="ordersReady?.length > 0; else noOrdersReady" lines="none"
              style="margin-top:-15px;padding: 10px 5px 25px 5px;height: 100%;width: 100%;">
              <div *ngFor="let item of ordersReady">
                <ion-item class="infoCheckOrder" *ngIf="item.idTab == 3" id="itemOrder{{item.idDetallePedido}}">
                  <ion-thumbnail slot="end" (click)="updateStatusOrder(item)">
                    <div id="circleInfoCheckOrder">
                      <div id="letterCircleInfoCheckOrder">
                        <ion-icon name="checkmark"></ion-icon>
                      </div>
                    </div>
                  </ion-thumbnail>

                  <ion-label>
                    <h2 class="titleInfoMenu">
                      #{{item.nroPedido | number:'3.0'}}
                    </h2>
                  </ion-label>
                </ion-item>
              </div>
            </ion-list>

            <ng-template #noOrdersReady>
              <ion-grid style="padding:0px;">
                <ion-row style="margin-left: 16px;margin-right: 16px;">
                  <ion-col size="12">
                    <ion-card [ngClass]="['boxErrorItemsDetail', 'no-gradient']">
                      <ion-card-header text-center style="padding:12px;">
                        <div class="textErrorItemsDetail">
                          <img src="assets/icons_bar/027-taste-error.png">
                          <span style="position: relative; top: -5px; padding-left: 3px;">
                            No hay pedidos listos
                          </span>
                        </div>
                      </ion-card-header>
                    </ion-card>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ng-template>
          </ion-row>
        </ion-grid>
      </ion-segment>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>