.showHideBtnTop{
    float: right;
    font-size: 1.1em;
    cursor: pointer;
}

#shortcuts_menu{
    float: right;
    text-align: right;
    font-size: 0.7em;
}

#imgUserMenu{
    border-radius: 50px;
    width: 18px;
    height: 18px;
}

#circleInfo{
    width: 45px;
    height: 45px;
    margin: 0px auto;
    margin-top: 5px;
    border-radius: 100px;
    text-align: center;
    vertical-align: middle;
    font-size: 1.3em;
    font-weight: bold;
}

#letterCircleInfo{
    vertical-align: middle;
    padding-top: 10px;
    text-transform: uppercase;
}

#circleInfoCheckOrder{
    width: 35px;
    height: 35px;
    margin: 0px auto;
    margin-top: 8px;
    border-radius: 100px;
    text-align: center;
    vertical-align: middle;
    font-size: 1.3em;
    font-weight: bold;
    color: #FFFFFF;
    transition: all 0.35s;

    background: rgba(43,43,227,1);
    background: -moz-linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(43,43,227,1)), color-stop(100%, rgba(122,86,250,1)));
    background: -webkit-linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
    background: -o-linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
    background: linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b2be3', endColorstr='#7a56fa', GradientType=1 );    
}

#circleInfoCheckOrder:hover{
    cursor: pointer;
    transition: all 0.25s;
    background: #FFFFFF;
    border: 2px solid rgba(43,43,227,1);    
    color: rgba(43,43,227,1);

    #letterCircleInfoCheckOrder{
        margin-top: -2.5px;
    }

    ion-icon:hover{
        color:rgba(43,43,227,1) !important; 
    }    
}

#letterCircleInfoCheckOrder{
    vertical-align: middle;
    padding-top: 6px;
}

.headItemDetailOrder{
    padding: 0px;
    margin-top: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9em;

    ion-col{
        ion-input{
            pointer-events: none;
        }

        ion-icon{
            color:#4B4D4C;
        }        
    }        
}

.headItemDetailOrderNoPress{
    // background-color: #F7F9FB;
    border-radius: 10px 10px 10px 10px;
    // border: 1px solid #A4A4A6;
    color: #4B4D4C;
}

.headItemDetailOrderPress{
    border-radius: 10px 10px 0px 0px;
    // border-top: 1px solid #A4A4A6;
    // border-right: 1px solid #A4A4A6;
    // border-left: 1px solid #A4A4A6;
    // border-bottom: 0px;

    color: #ffffff;
    background: rgba(43,43,227,1);
    background: -moz-linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(43,43,227,1)), color-stop(100%, rgba(122,86,250,1)));
    background: -webkit-linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
    background: -o-linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
    background: linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b2be3', endColorstr='#7a56fa', GradientType=1 );     
}

#circleInfoAddCourier{
    width: 20px;
    height: 20px;
    margin: 0px auto;
    margin-top: 0px;
    float: right;
    border-radius: 100px;
    text-align: center;
    vertical-align: middle;
    font-size: 1.3em;
    font-weight: bold;
    color: #FFFFFF;
    transition: all 0.35s;

    background: rgba(43,43,227,1);
    background: -moz-linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(43,43,227,1)), color-stop(100%, rgba(122,86,250,1)));
    background: -webkit-linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
    background: -o-linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
    background: linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b2be3', endColorstr='#7a56fa', GradientType=1 );    
}

#circleInfoAddCourier:hover{
    cursor: pointer;
}

#letterCircleAddCourier{
    vertical-align: middle;
    padding-top: 1.5px;
    font-size: 0.8em;
    font-weight: bold;
}

#courierItem{
    // transition: all 1s;
    margin-top: 0px;
}

#courierItem:hover{
    cursor: pointer;
    // transition: all 1.25s;

    .titleInfoMenu{
        color: #FFFFFF;    
    }

    border-radius: 5px;
    --border-radius: 5px;

    --background: rgba(43,43,227,1);
    --background: -moz-linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
    --background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(43,43,227,1)), color-stop(100%, rgba(122,86,250,1)));
    --background: -webkit-linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
    --background: -o-linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
    --background: -ms-linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
    --background: linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b2be3', endColorstr='#7a56fa', GradientType=1 );
}

.headItemDetailOrder:hover{
    cursor: pointer;
    color: #ffffff;
    background: rgba(43,43,227,1);
    background: -moz-linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(43,43,227,1)), color-stop(100%, rgba(122,86,250,1)));
    background: -webkit-linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
    background: -o-linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
    background: linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b2be3', endColorstr='#7a56fa', GradientType=1 );
}

ion-input.commentInput{
    // border: 1px solid #7050F7; 
    border: 1px solid #E2E2E2;
    border-radius: 20px; // 5
    background-color: #FFFFFF;
    --padding-bottom: 0px !important; 
    // --padding-end: 5px !important; 	
    // --padding-start: 5px !important; 	
    --padding-end: 8px !important;
    --padding-start: 8px !important;    
    --padding-top: 0px !important; 	
    // --color: #404C59 !important; 
    --color: #8D8E90 !important; 
    height: 30px; 
    text-align: left;
    text-transform: capitalize; 
    font-weight: bold;
    font-size: 0.9em;
}

.footerItemDetailOrder{
    padding: 0px;
    background-color: #F7F9FB;
    border-radius: 0px 0px 10px 10px;
    // border-right: 1px solid #A4A4A6;
    // border-left: 1px solid #A4A4A6;
    // border-bottom: 1px solid #A4A4A6;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.3);
}

#colCantHead{
    display: -webkit-box;
}

#colPriceHead{
    display: -webkit-box;
    margin-left: -7px;
}

#colTotalHead{
    display: -webkit-box;
    margin-left: 7px;
}

#iconMoreDetail{     
    margin-right: 12px;
    margin-top: 11px;
    font-weight: bold;
    height: 25px;
    width: 15px;
    --padding-start: 0px;
    --padding-top: 0px;
    --padding-end: 0;
    --padding-bottom: 0px;
    --box-shadow: none;
}

#iconInputCant{
    font-weight: bold;
    height: 23px;
    width: 23px;
    font-size: 0.8em;
    --border-radius: 100px;
    --padding-start: 2px;
    --padding-top: 2px;
    --padding-end: 2px;
    --padding-bottom: 2px;
    --box-shadow: none;

    ion-icon{
        color: #FFFFFF;
    }
}

#btnSetCourier{
    --border-radius: 100px;
    font-size: 0.8em;
    font-weight: bold;
    text-transform: capitalize;
}

#iconAddCourier{
    float: right; 
    margin-top: 2px;
    // font-weight: bold;
    height: 21px;
    width: 21px;
    font-size: 0.8em;
    --border-radius: 100px;
    --padding-start: 2px;
    --padding-top: 2px;
    --padding-end: 2px;
    --padding-bottom: 2px;
    --box-shadow: none;
    --padding-start: 0px !important;
    --padding-end: 0px !important;

    ion-icon{
        color: #FFFFFF;

        background: rgba(43,43,227,1);
        background: -moz-linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
        background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(43,43,227,1)), color-stop(100%, rgba(122,86,250,1)));
        background: -webkit-linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
        background: -o-linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
        background: -ms-linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
        background: linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b2be3', endColorstr='#7a56fa', GradientType=1 );    
    }
}

#iconTrash{     
    font-weight: bold;
    height: 23px;
    width: 23px;
    font-size: 0.8em;
    margin-right: 15%; // 6px
    --border-radius: 100px;
    --padding-start: 2px;
    --padding-top: 2px;
    --padding-end: 2px;
    --padding-bottom: 2px;
    --box-shadow: none;

    ion-icon{
        color: #FFFFFF;
    }
}

#iconComment{     
    font-weight: bold;
    height: 23px;
    width: 23px;
    font-size: 0.8em;
    --border-radius: 100px;
    --padding-start: 2px;
    --padding-top: 2px;
    --padding-end: 2px;
    --padding-bottom: 2px;
    --box-shadow: none;

    ion-icon{
        color: #FFFFFF;
    }
}

.boxErrorItemsDetail{
    // width: 100%;
    margin: 5px 0px 0px 0px !important;
    border-radius: 10px;
    font-weight: bold;
    --color: #404C59;

    .textErrorItemsDetail{
        margin: 0px auto;
        // width: 300px;
    }

    img{
        width: 22px;
        display: initial;
        // position: absolute;
        // margin-top: -4px;
        // margin-left: 35px;
    }
}

#colMoreDetail{
    margin: 0px !important;
    padding: 0px !important;
}

.headTitleDetail{
    // margin-left: -16px;
}

.rowHeadItemOrderDetail{
    margin-top: 5px;
    text-transform: capitalize;
    color: #4B4D4C;
    border-radius: 10px;
    background: #FFFFFF;
    font-weight: bold;
    font-size: 1.0em;
}
.rowSubTotalOrderDetail{
    margin-top: 5px;
    text-transform: capitalize;
    color: #4B4D4C;
    border-radius: 10px;
    background: #FFFFFF;
    font-weight: bold;
    font-size: 1.0em;
}
.rowTotalOrderDetail{
    margin-top: 5px;
    text-transform: capitalize;
    color: #000;
    border-radius: 10px;
    background: #FFFFFF;
    font-weight: bold;
    font-size: 1.0em;
}
.rowMiddleOrderDetail{
    margin-top: 5px;
    text-transform: capitalize;
    color: #808080;
    border-radius: 10px;
    background: #FFFFFF;
    font-weight: bold;
    font-size: 0.85em;
}

ion-item.infoCheckOrder{
    --background: #F6F8FA;
    --background-activated: #F6F8FA;
    --background-focused: #F6F8FA;
    --background-hover: #F6F8FA;
    --border-radius: 15px 0px 0px 15px;
    margin-top: 5px;
    width: 100%;
    margin-left: 10px;
    transition: all 1.25s;
}

.titleInfoMenu{
    color:#45515D;
    font-weight: bold;
    text-transform: capitalize;
}

.subTitleInfoMenu{
    color: #B0B3BD;
    font-weight: bold;
}

ion-menu.hideMenu{
    @media (min-width: 1024px) {
        transition: all 0.15s;
        max-width: 59px !important;
        min-width: 0%  !important;
        border: 0px !important;
    }   

    @media (min-width: 970px) {
        .menuItemFooter{
            width: 85%;
        }
    }   

    #notifMenu{
        margin-top: -6px;
        margin-left: 10px;
    }

    @media (min-width: 970px) {
        ion-icon{
            margin:0px;
        }
    }
}

ion-menu.showMenu{
    @media (min-width: 1024px) {    
        transition: all 0.15s;
        max-width: 23% !important;
        min-width: 0%  !important;
        border: 0px !important;
    }

    #imgUserMenu{
        width: 22px;
        height: 22px;
    }    

    @media (min-width: 970px) {
        .menuItemFooter{
            width: 97%;
        }    
    }
}

ion-menu.hideMenuTables{
    @media (min-width: 1024px) {
        transition: all 0.15s;
        max-width: 0px !important;
        min-width: 0%  !important;
        border: 0px !important;
    }   
}

ion-menu.hideMenuDetail{
    @media (min-width: 1024px) {
        transition: all 0.15s;
        max-width: 0px !important;
        min-width: 0%  !important;
        border: 0px !important;
    }   
}

ion-menu.hideMenuDelivery{
    @media (min-width: 1024px) {
        transition: all 0.15s;
        max-width: 0px !important;
        min-width: 0%  !important;
        border: 0px !important;
    }   
}

ion-menu.showMenuTables{
    @media (min-width: 1024px) {    
        transition: all 0.15s;
        max-width: 23% !important;
        min-width: 0%  !important;
        border: 0px !important;
    }
}

ion-menu.showMenuDetail{
    @media (min-width: 1024px) {
        transition: all 0.15s;
        max-width: 30% !important;
        min-width: 0%  !important;
        border: 0px !important;
    }   
}

ion-menu.showMenuDelivery{
    @media (min-width: 1024px) {    
        transition: all 0.15s;
        max-width: 23% !important;
        min-width: 0%  !important;
        border: 0px !important;
    }
}

ion-item {
    --background-activated: #ff5643;
    --background-focused: #ff5643;
    --background-hover: #ff5643;

    --color: #B0B3BD;
    --color-activated: #ffffff;
    --color-focused: #ffffff;
    --color-focused: #ffffff;
    --color-hover: #ffffff;

    --border-radius: 50px;
    margin-top: 5px;
}

.active-item {
    --background: #ff5643;
    --color: #ffffff;

    ion-icon{
        color: #FFF;
    }
}

ion-icon:hover{
    color:#ffffff;
}

.menuItemActivated{
    color:#ffffff;
}

.menuItem:hover ion-icon{
    color:#ffffff;
}

.menuItemFooter{
    width: 97%;
    position: absolute;
}

.menuItemFooter:hover ion-icon{
    color:#ffffff;
}

#notifMenu{
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 100px;
    margin-top: -7px;
    margin-left: 14px;
    font-size: 0;
    z-index: 9;
}

@media (max-height: 550px) and (min-height: 360px) {
    #itemsBoxMenu{
        // height: 200px !important;
        height: 320px !important;
        overflow: auto;
    }    
}

@media (max-height: 350px) and (min-height: 320px) {
    #itemsBoxMenu{
        height: 150px !important;
        overflow: auto;
    }    
}

@media (max-width: 320px) {
    #iconInputCant{
        height: 18px;
        width: 18px;
    }
    
    #iconTrash{     
        height: 18px;
        width: 18px;
    }
    
    #iconComment{     
        height: 18px;
        width: 18px;
    }    
}