<ion-header no-border>
  <ion-toolbar color="whiteg">
    <ion-buttons slot="start" class="iconHead">
      <ion-menu-button auto-hide="false" (click)="showHideMenu()"></ion-menu-button>
    </ion-buttons>
    <ion-title class="titleHead">
      Cocina

      <div id="boxTimeHead">
        <ion-button class="iconHeadTime" color="orange">
          <ion-icon slot="start" name="time"></ion-icon>
          {{ time | date: 'hh:mm:ss a' }}
        </ion-button>
      </div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button slot="end" class="iconHeadVol" (click)="changeSound()">
        SONIDO
        <ion-icon slot="end" name="volume-high" *ngIf="sound"></ion-icon>
        <ion-icon slot="end" name="volume-off" *ngIf="!sound"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="stylesContent">
  <div *ngIf="statusError === false; else error" style="margin-top:-6px;padding:0px 10px 95px 15px;">
    <ion-grid style="margin-top:15px;">
      <ion-row>
        <ion-col size-lg="3" size-md="4" size-sm="6" size="6" *ngFor="let orders of ordersList">
          <ion-card class="boxTable" color="dark">
            <ion-card-header text-left [ngClass]="(orders.idTab == 1) ? ['gradient-red', 'headerCard'] : ['gradient', 'headerCard']">
              <ion-card-title class="titleCardTable">
                #{{orders.nroPedido | number:'3.0'}}

                <div id="nameOrder">
                  Damian
                </div>

                <span id="timeOrder">
                  10:00:00
                </span>
              </ion-card-title>
            </ion-card-header>

            <ion-card-content class="contentCard" text-center>
              <ion-grid *ngFor="let item of orders['detalle_pedido']">
                <ion-row id="rowItems">
                  <ion-col size="2">
                    x {{ item.cantidad }}
                  </ion-col>
                  <ion-col size="10">
                    {{ item.nombre }}

                    <ion-icon id="iconCommentItems" name="text" *ngIf="item.comentario?.length > 0"></ion-icon>
                  </ion-col>
                </ion-row>
                <ion-row id="boxCommentItems" *ngIf="item.comentario?.length > 0">
                  <ion-col size="12" id="commentItems" >
                    {{ item.comentario }}
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ng-template #error>
    <ion-grid>
      <ion-row justify-content-center align-items-center
        style="font-size: 1.4em;font-weight: 500;padding: 5px;text-align: center;">
        <div id="divImgError">
          <img src="assets/icons_bar/027-taste-error.png" id="imgError">
        </div>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row justify-content-center align-items-center id="textError">
        <ion-text>
          {{msgError}}
        </ion-text>
      </ion-row>
    </ion-grid>
  </ng-template>
</ion-content>