#boxTimeHead{
    margin: 0px auto !important; 
    width: 100%; 
    text-align: center; 
    margin-top: -31px !important;
    position: absolute;
}

#rowItems{
    margin-top: 5px;
    color: #383838 !important
}

#boxCommentItems{
    padding-bottom: 2px;
}

#commentItems{
    border-radius: 100px;
    background-color: #FFF;
    color: #F75782;
    border: 1px solid #F75782;
    font-weight: bold;
    font-size: 0.8em;
    padding: 3px;
    width: 100%;
    text-align: center !important;
    margin-top: 5px;
}

#iconCommentItems{
    font-size: 0.9em;
    margin-top: 1px;
    float: right;
    border-radius: 100px;
    padding: 4px;
    background-color: #F75782;
    color: #FFF;
    border: 1px solid #F75782;
}

#nameOrder{
    width: 100%;
    margin-left: -50px;
    text-align: center;
    position: absolute;
    display: inline-block;
}

#timeOrder{
    float: right;
}

ion-grid, ion-row, ion-col {
    padding:0px;
}

ion-card{
    padding:0px;
}

.sc-ion-card-md-h{
    margin-left: unset;
    margin-right: unset;
    margin-bottom: 0px;
    -webkit-margin-start: 5px;
    margin-inline-start: 5px;
    -webkit-margin-end: 5px;
    margin-inline-end: 5px;
}

.timeOrder{
    float:right;
    font-weight: normal;
}

.headerCard{
    cursor: pointer;
}

.contentCard{
    cursor: pointer;
    text-transform: uppercase;
    margin-top: -8px;
    background-color: #FFFFFF;
    height: 95%;
    overflow: scroll;
    color: #747474;
    font-size: 1.5em;
    font-weight: bold;
    padding: 5px;
}

.titleCardTable{
    font-weight: bold;
    text-transform: uppercase;
    margin-top: -5px;
}

.boxTable{
    // cursor: pointer;
    height: 300px;
    border-radius: 15px;
}


@media (max-width: 320px) {
    .timeOrder{
        display: none;
    }
}  

@media (max-width: 415px) and (min-width: 320px) {
    #boxTimeHead{
        display: none;
    }    
}  