ion-item{
    border-radius:5px !important;
    margin-top: 5px;
    --background:#F7F9FB;
}

#boxWindows{
    display: block;
}

#boxCellPhone{
    display: none;
}

#btnBoxInfo{
    margin: 0px auto;
    border-radius: 10px;
    background-color: #ffffff;
    // box-shadow: 2px 2px 8px #EDEDF1;
    box-shadow: 0px 0px 10px #E1E6E8;
    padding: 10px;
    margin-top: 15px;

    img{
        margin-top: 5px;
        width: 40px;
    }

    #textBtnBoxInfo{
        font-weight: bold;
        color: #474747;
        font-size: 1.1em;
        padding: 0px;
        text-align: left;
        margin-top: 10px;
    }
}

#boxLoginCommerce{
    border-radius: 10px;
    box-shadow: 0px 0px 10px #D6E0E2;
    // height: 350px;
    top: 30px;
    padding: 0px;
    margin: 0px auto;

    ion-text{
        color:#FE4A2C;
        font-weight: bold; 
        font-size: 1.5em;
    }
}

#boxLogin{
    background-color: #FFFFFF;
    height: 400px;
    text-align: center;
    padding: 40px 10px 10px 10px;
    border-radius: 0px 10px 10px 0px;
    background-image: url('/assets/icons_bar/cocinero_login.png');
    background-repeat: no-repeat;
    background-size: 180px;
    background-position: right;
    background-position-y: center;
}

#boxInfo{
    background-color: #F8F9FB;
    height: 400px;
    text-align: center;
    padding: 40px 10px 40px 10px;
    border-radius: 10px 0px 0px 10px;
}

#btnBoxInfo:hover{
    transition: all 0.45s;
    background-color: #FF4917;
    cursor: pointer;
    box-shadow: none;

    #textBoxInfo{
        color: #FFFFFF;
    }

    img{
        -webkit-filter: brightness(0) invert(1);
        filter: brightness(0) invert(1);
    }
}

#inputLogin{
    margin-top: 12px;
    --background:#FF4917;
    --border-radius: 100px; 
    width: 100%;
    font-weight: bold;
}

@media (max-width: 825px) {
    #boxLoginCommerce{
        top: 5px;
    }
}

@media (max-width: 568px) {
    #boxLoginCommerce{
        top: 5px;
    }

    #boxWindows{
        display: none;
    }
    
    #boxCellPhone{
        display: block;
    }

    #boxLogin{
        height: auto;   
        border-radius: 0px 0px 10px 10px;
    }
    
    #boxInfo{
        height: auto;
        padding: 16px 10px 40px 10px;
        border-radius: 10px 10px 0px 0px;        
    }
}