<ion-header no-border>
  <ion-toolbar color="whiteg">
    <ion-buttons slot="start" class="iconHead">
      <ion-menu-button auto-hide="false" (click)="showHideMenu()"></ion-menu-button>
    </ion-buttons>
    <ion-title class="titleHead">
      Bienvenido
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="stylesContent">
  <ion-grid style="padding-bottom: 20px;">
    <ion-row>
      <ion-col size-lg="8" size-md="11" size-sm="11" size="11" id="boxLoginCommerce">
        <ion-row>
          <ion-col size-lg="5" size-md="5" size-sm="5" size="12" id="boxInfo">
            <ion-tabs id="boxCellPhone">
              <ion-tab-bar slot="bottom" style="border-radius: 10px 10px 0px 0px !important; overflow: hidden; border: 0px;">
                <ion-tab-button (click)="changeSection(1)">
                  <img src="/assets/icons_bar/analitica.png" width="25px">
                  <ion-label>Administración</ion-label>
                  <!-- <ion-badge>6</ion-badge> -->
                </ion-tab-button>
            
                <ion-tab-button (click)="changeSection(2)">
                  <img src="/assets/icons_bar/camarero.png" width="25px">
                  <ion-label>Pedidos</ion-label>
                </ion-tab-button>
            
                <ion-tab-button (click)="changeSection(3)">
                  <img src="/assets/icons_bar/cocinero.png" width="25px">
                  <ion-label>Cocina</ion-label>
                </ion-tab-button>
              </ion-tab-bar>
            </ion-tabs>

            <div id="boxWindows">
              <ion-text>
                ¿Dónde desea ingresar?
              </ion-text>

              <div style="text-align: center;width: 200px;margin: 0px auto;margin-top: 30px;">
                <ion-row id="btnBoxInfo" (click)="changeSection(1)">
                  <ion-col size="3" style="padding: 0px;text-align: right;">
                    <img src="/assets/icons_bar/analitica.png">
                  </ion-col>
                  <ion-col size="9" id="textBtnBoxInfo">
                    <div id="textBoxInfo" style="margin-left: 15px;">
                      Administración
                    </div>
                  </ion-col>
                </ion-row>

                <ion-row id="btnBoxInfo" (click)="changeSection(2)">
                  <ion-col size="3" style="padding: 0px;text-align: right;">
                    <img src="/assets/icons_bar/camarero.png">
                  </ion-col>
                  <ion-col size="9" id="textBtnBoxInfo">
                    <div id="textBoxInfo" style="margin-left: 15px;margin-top: -5px;">
                      Toma de pedidos
                    </div>
                  </ion-col>
                </ion-row>

                <ion-row id="btnBoxInfo" (click)="changeSection(3)">
                  <ion-col size="3" style="padding: 0px;text-align: right;">
                    <img src="/assets/icons_bar/cocinero.png">
                  </ion-col>
                  <ion-col size="9" id="textBtnBoxInfo">
                    <div id="textBoxInfo" style="margin-left: 15px;margin-top: 4px;">
                      Cocina
                    </div>
                  </ion-col>
                </ion-row>
              </div>
            </div>
          </ion-col>

          <ion-col size-lg="7" size-md="7" size-sm="7" size="12" id="boxLogin">
            <ion-text>
              {{textLogin}}
            </ion-text>

            <form style="width: 80%;margin:0px auto;margin-top: 50px;" #form="ngForm" (ngSubmit)="login(form,sectionActive)" method="post">

              <ion-item *ngIf="sectionActive == 2" style="margin-top:12px;">
                <ion-label position="floating">Nombre de Usuario</ion-label>
                <ion-input ngModel type="text" name="user" #user></ion-input>
              </ion-item>

              <ion-item *ngIf="sectionActive == 2" style="margin-top:12px;">
                <ion-label position="floating">Contraseña</ion-label>
                <ion-input ngModel type="password" name="password"></ion-input>
              </ion-item>
              <ion-item *ngIf="sectionActive == 3" style="margin-top:12px;">
                <ion-label position="floating">Pin</ion-label>
                <ion-input ngModel type="password" name="pin" #pin></ion-input>
              </ion-item>

              <ion-button id="inputLogin" type="submit">
                Ingresar
              </ion-button>
            </form>

            <div style="width: 100%; text-align: center; margin-top: 30px;">
              <img src="/assets/logo/logobisoft2-light.png" style="width: 45px;display: block;margin: 0px auto;">
              <span style="color: #474747;font-size: 0.8em;">
                www.bisoft.com.ar
              </span>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>