<ion-header no-border>
  <ion-toolbar color="whiteg">
    <ion-buttons slot="start" class="iconHead">
      <ion-menu-button auto-hide="false" (click)="showHideMenu()"></ion-menu-button>
    </ion-buttons>
    <ion-title class="titleHead">
      Mostrador
    </ion-title>
    <ion-buttons slot="end">
      <ion-searchbar class="inputSearchTables" type="text" placeholder="BUSCAR PEDIDO" (ionInput)="getItems($event)">
      </ion-searchbar>
    </ion-buttons>
    <ion-buttons slot="end" class="iconHead">
      <ion-button auto-hide="false" (click)="showHideMenuTables()">
        <ion-icon slot="icon-only" name="restaurant"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="stylesContent">
  <ion-grid>
    <ion-row>
      <span id="titleNumberOrders">
        Número Pedido:
        <span id="numberNumberOrders">
          #{{totalOrders | number:'3.0'}}
        </span>
        |
        <span id="linkResetOrders" (click)="resetOrders()">
          <ion-icon slot="start" name="refresh" style="margin-top: 1px;position: absolute;"></ion-icon>
          <span style="margin-left: 20px;">
            Resetear
          </span>
        </span>

        <ion-button *ngIf="ordersPending > 0" id="btnCreateOrder" class="btnDelayOrder" color="white"
          style="margin-right: 8px;pointer-events: none;">
          <ion-icon slot="start" name="time"></ion-icon>
          Demora: {{ordersPending}} pedidos
        </ion-button>

        <ion-button (click)="createOrder()" id="btnCreateOrder" class="btnCreateOrder" color="orange">
          <ion-icon slot="start" name="add"></ion-icon>
          Crear pedido
        </ion-button>
      </span>
    </ion-row>
  </ion-grid>


  <div *ngIf="statusError === false; else error" style="margin-top:-6px;padding:0px 10px 95px 15px;">
    <div *ngIf="statusSearchError === false; else errorSearch">
      <ion-grid style="margin-top:15px;">
        <ion-row>
          <div id="titleTopFilterOrders">
            <span>
              En preparación
            </span>
          </div>
        </ion-row>

        <ion-row>
          <ion-col size-lg="3" size-md="4" size-sm="6" size="6" *ngFor="let orders of ordersSearch">
            <ion-card class="boxTable gradient" color="dark">
              <ion-card-header class="headerCard" text-center>
                <ion-card-title class="titleCardTable">
                  #{{orders.nroPedido | number:'3.0'}}
                </ion-card-title>
                <ion-card-subtitle class="subTitleCardTable" text-left>
                  <span>
                    {{orders.nombreCompleto}}
                  </span>
                  <span class="timeOrder">
                    {{orders.fechaAlta | timeAgo}}
                  </span>
                </ion-card-subtitle>
              </ion-card-header>

              <ion-card-content class="contentCard" text-center>
                <div class="detailSubTotalCard">
                  <span class="subTotalCard">
                    Subtotal
                  </span>
                  <span class="totalCard">
                    ${{orders.totalVenta ? orders.totalVenta : 0}}
                  </span>
                </div>
              </ion-card-content>

              <ion-fab id="boxFab" vertical="center" horizontal="center" slot="fixed">
                <ion-fab-button class="no-gradient-btn" size="small">
                  <ion-icon name="add"></ion-icon>
                </ion-fab-button>
                <ion-fab-list side="start">
                  <ion-fab-button [ngClass]="orders.nombreColorBtn" size="small">
                    <ion-icon name="close"></ion-icon>
                  </ion-fab-button>
                  <div id="subTextFabCancelOrder" class="subTextFabIcon">
                    CANCELAR
                  </div>                    
                </ion-fab-list>
                <ion-fab-list side="top">
                  <ion-fab-button [ngClass]="orders.nombreColorBtn" size="small">
                    <ion-icon name="cash"></ion-icon>
                  </ion-fab-button>
                  <div id="subTextFabCash" class="subTextFabIcon">
                    PAGAR
                  </div>                    
                </ion-fab-list>
                <ion-fab-list side="end">
                  <ion-fab-button [ngClass]="orders.nombreColorBtn" size="small">
                    <ion-icon name="create"></ion-icon>
                  </ion-fab-button>
                  <div id="subTextFabEditOrder" class="subTextFabIcon">
                    EDITAR
                  </div>
                </ion-fab-list> 
              </ion-fab>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <ng-template #error>
    <ion-grid>
      <ion-row justify-content-center align-items-center
        style="font-size: 1.4em;font-weight: 500;padding: 5px;text-align: center;">
        <div id="divImgError">
          <img src="assets/icons_bar/027-taste-error.png" id="imgError">
        </div>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row justify-content-center align-items-center id="textError">
        <ion-text>
          {{msgError}}
        </ion-text>
      </ion-row>
    </ion-grid>
  </ng-template>

  <ng-template #errorSearch>
    <ion-grid>
      <ion-row justify-content-center align-items-center
        style="font-size: 1.4em;font-weight: 500;padding: 5px;text-align: center;">
        <div id="divImgError">
          <img src="assets/icons_bar/028-search-fail.png" id="imgError">
        </div>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row justify-content-center align-items-center id="textError">
        <ion-text>
          No se encontraron pedidos para la búsqueda realizada.
        </ion-text>
      </ion-row>
    </ion-grid>
  </ng-template>
</ion-content>