ion-grid, ion-row, ion-col {
    padding:0px;
}

ion-card{
    padding:0px;
}

.sc-ion-card-md-h{
    margin-left: unset;
    margin-right: unset;
    margin-bottom: 0px;
    -webkit-margin-start: 5px;
    margin-inline-start: 5px;
    -webkit-margin-end: 5px;
    margin-inline-end: 5px;
}

.timeOrder{
    float:right;
    font-weight: normal;
}

.headerCard{
    cursor: pointer;
}

.contentCard{
    cursor: pointer;
    text-transform: capitalize;
    margin-top: -8px;
}

.titleCardTable{
    font-weight: bold;
    text-transform: uppercase;
    margin-top: -5px;
}

.totalCard{
    float: right;
    font-weight: bold;
    font-size:1.1em;
}

.subTotalCard{
    float: left;
    font-weight: bold;
    font-size:1.1em;
}

.subTitleCardTable{
    font-weight: bold;
    text-transform: capitalize;   
    font-size: 1.2em; 
    padding-bottom: 10px;
    margin-top: 2px;
    color: #DCDCDC !important;
    border-bottom: 1px solid #7F6DF5;
    text-align: left !important;
}

.boxTable{
    // cursor: pointer;
    height: 175px;
    border-radius: 15px;
}

#boxFab{
    margin-top:10px;
}

#titleNumberOrders{
    padding: 10px;
    font-weight: bold;
    color: #8D8E90;
    float: left;
    margin-top: 15px;
    margin-left: 9px; 
    width: 100%;
}

#numberNumberOrders{
    font-size: 1.0em;
    margin-left: 5px;    
}

#btnCreateOrder{
    --border-radius: 100px;
    margin-top: -9px;
    margin-left: 5px;
    font-size: 0.8em;
    font-weight: bold;
    text-transform: capitalize;
    float: right;
}

#titleTopFilterOrders{
    font-weight: bold;
    font-size: 1.2em;
    padding: 5px 0px 5px 5px;
    margin-top: -3px;
    color: #404C59;
    width: 99%;
}

.inputSearchTables{
    margin-top: 8px;
}

#linkResetOrders:hover{
    color: #2C45E7;
    cursor: pointer;
}

#subTextFabCash{
    position: absolute;
    text-align: center;
    margin-top: 12px;
    margin-left: 0px;
    background-color: #FFF;
    border-radius: 5px;
    padding: 2px;
    color: #322FE5;
    box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.2), 0 1px 0px 0 rgba(0, 0, 0, 0.30);
}

#subTextFabCancelOrder{
    position: absolute;
    text-align: center;
    margin-top: 30px;
    margin-left: 1px;
    background-color: #FFF;
    border-radius: 5px;
    padding: 1px;
    color: #322FE5;
    box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.2), 0 1px 0px 0 rgba(0, 0, 0, 0.30);
}

#subTextFabEditOrder{
    position: absolute;
    text-align: center;
    margin-top: 30px;
    margin-left: 8px;
    background-color: #FFF;
    border-radius: 5px;
    padding: 1px;
    color: #322FE5;
    box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.2), 0 1px 0px 0 rgba(0, 0, 0, 0.30);   
}

.subTextFabIcon{
    color: black;    
    font-weight: 600;
    font-size: 0.7em;
}

@media (max-width: 550px) and (min-width: 360px) {
    .inputSearchTables{
        width: 190px;
    }      

    .btnCreateOrder{
        display: block;    
        margin-top: 8px !important;   
        float: none !important;
        width: 100% !important;
        margin-left: -4px !important;
        // margin-right:15px !important;        
    }

    .btnDelayOrder{
        display: block;    
        margin-top: 15px !important;   
        float: none !important;
        width: 100% !important;
        margin-left: -4px !important;
        // margin-right:15px !important;    
    }
}

@media (max-width: 320px) {
    .inputSearchTables{
        width: 165px;
    } 

    .subTitleCardTable{
        text-align: center !important;
    }

    .timeOrder{
        display: none;
    }

    .btnCreateOrder{
        display: block;    
        margin-top: 8px !important;   
        float: none !important;
        width: 100% !important;
        margin-left: -4px !important;
        // margin-right:15px !important;        
    }

    .btnDelayOrder{
        display: block;    
        margin-top: 15px !important;   
        float: none !important;
        width: 100% !important;
        margin-left: -4px !important;
        // margin-right:15px !important;    
    }
}  

@media (max-width: 375px) and (min-width: 360px) {
    .subTitleCardTable{
        font-size:1.1em;
    }

    .subTotalCard{
        font-size:0.9em;
    }

    .totalCard{
        font-size:0.9em;
    }   
}
