/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-searchbar {
    input {
        border-radius: 30px !important;
        font-weight: bold;
        text-transform: uppercase;    
    }

    .searchbar-input.sc-ion-searchbar-md{
        font-size: 0.8em;
        font-weight: bold;
        color: #404C59;
        padding-inline-end: 40px;
    }
}

ion-searchbar.inputSearchOrdersList{
    ion-icon {
        // right: 16px !important;
        // left: auto !important;
    }

    input {
        border-radius: 8px !important;
    }
}

.pop-over-orders-courier{
    .popover-content.sc-ion-popover-ios{
        --width: 300px !important;
        --max-height: 320px !important;
    }

    ion-checkbox.ordersTitleList{
        margin-left: 0px !important;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        margin-right: 15px !important;

        border:0px;
        padding: 2px !important;

        --border-color-checked: rgba(43,43,227,1);
        --checkmark-color: rgba(43,43,227,1);
        --background-checked: #ffffff;
    }    

    ion-checkbox.ordersList{
        margin-left: 0px !important;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        margin-right: 15px !important;

        border:0px;
        padding: 2px !important;

        --border-color-checked: #ffffff;
        --checkmark-color: rgba(43,43,227,1);
        --background-checked: #ffffff;
    }    
}

.pop-over-couriers{
    .popover-content.sc-ion-popover-ios{
        --width: 300px !important;
        --max-height: 250px !important;
    } 

    ion-checkbox.couriersList{
        margin-left: 0px !important;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        margin-right: 15px !important;

        border:0px;
        padding: 2px !important;

        --border-color-checked: #ffffff;
        --checkmark-color: rgba(43,43,227,1);
        --background-checked: #ffffff;
    }    
}

.headMenuTablesChange{
    .action-sheet-title{
        color: #ffffff;
        font-size: 1.1em;
        font-weight: bold;          
        border-radius: 10px 10px 0px 0px;
        background: rgba(43,43,227,1);
        background: -moz-linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
        background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(43,43,227,1)), color-stop(100%, rgba(122,86,250,1)));
        background: -webkit-linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
        background: -o-linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
        background: -ms-linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
        background: linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b2be3', endColorstr='#7a56fa', GradientType=1 );
    }

    .action-sheet-group{
        border-radius: 10px 10px 0px 0px;
    }
}

.menuTablesChange{
    text-transform: uppercase !important;

    span{
        justify-content: flex-start !important;
        color: #757575;
        font-size: 1.1em;
        font-weight: bold;        
    }    
}

.headMenuSubProducts{
    .action-sheet-title{
        color: #ffffff;
        font-size: 1.1em;
        font-weight: bold;          
        border-radius: 10px 10px 0px 0px;
        background: rgba(43,43,227,1);
        background: -moz-linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
        background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(43,43,227,1)), color-stop(100%, rgba(122,86,250,1)));
        background: -webkit-linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
        background: -o-linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
        background: -ms-linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
        background: linear-gradient(45deg, rgba(43,43,227,1) 0%, rgba(122,86,250,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b2be3', endColorstr='#7a56fa', GradientType=1 );
    }

    .action-sheet-group{
        border-radius: 10px 10px 0px 0px;
    }
}

.menuSubProducts{
    text-transform: uppercase !important;
    width: 70% !important;
    float: left !important;
    text-align: left !important;

    span{
        justify-content: flex-start !important;
        color: #757575;
        font-size: 1.1em;
        font-weight: bold;        
    }
}

.menuPriceSubProducts{
    text-transform: uppercase !important;
    width: 30% !important;
    float: right !important;
    text-align: right !important;

    span{
        justify-content: flex-end !important;
        color:#404C59;
        font-size: 1.1em;
        font-weight: bold;          
    }
}